[2020-06-21 15:38] Febbe opened #1 "Building problems by using add_subdirectory"
It is not possible to build against hdf5 when the lib is added with add_subdirectory. The header file H5pubconf.h can not be found the include_dirs.
All generated header files with public visibility should be configured into an extra directory like `${CMAKE_CURRENT_BUILD_DIR}/generated/h5` and this dir should be included with
[code]

[2020-06-25 08:53] conradsnicta opened #2 "too much API breakage - mandatory use of semantic versioning"
HDF5 v1.12 has changed so much since the initial release of HDF5 that it's more appropriate to call it HDF**6** at this stage.

The breaking API changes between minor HDF5 releases (eg. 1.8, 1.10, 1.12) are rather disconcerting.  While there are various pre-processor tricks used as "workarounds", they are just brittle hacks in the end. Stuff like `H5_USE_110_API` is just papering over the unwarran

[2020-09-22 02:18] xanderdunn opened #8 "Add pkg-config Support to Autotools Build"
As per Homebrew/homebrew-core#61490, I am trying to build a Linux and macOS [cross-platform library](https://github.com/xanderdunn/HDF5Kit) that uses the HDF5 library. The compiler I'm using attempts to find the headers and libraries on both platforms via a pkg-config file. However, currently I can only find the hdf5.pc file on the Ubuntu apt installation of hdf5 and not in the macOS build of hdf5

[2020-09-25 17:37] ajelenak opened #9 "Typos in INSTALL section "Optimization versus symbolic debugging"
There are two typos in Section 4.3.8:

1. `--enable-build-mode=production` should be `--enable-build-mode=debug` on [line 354](https://github.com/HDFGroup/hdf5/blob/cdc4b8a0fb55af4cf1a7bb4da5d8c4d454a0b8b6/release_docs/INSTALL#L354).
1. `--enable-production` should be `--enable-profiling` on [line 362](https://github.com/HDFGroup/hdf5/blob/cdc4b8a0fb55af4cf1a7bb4da5d8c4d454a0b8b6/release_docs/INST

[2020-09-29 06:51] alephpiece commented on #1
Is it possible to use hdf5 targets in CMake? I didn't find a manual anywhere (for 1.10.5). I have to add include directories and link libraries to my target by myself because I don't know what target I could use.

If hdf5 is included as a subproject, there will be two targets, hdf5-shared and hdf5-static, but it seems that these targets marked their include directories as private. I have to extrac

[2020-10-04 13:09] tueda commented on #1
While [hdf5-1_12_0](https://github.com/HDFGroup/hdf5/releases/tag/hdf5-1_12_0) doesn't work with the following `CMakeLists.txt` using `add_subdirectory` to add HDF5 (because of `H5pubconf.h`), the current development version (9df906126f5d448ad52a98ba99fd2eb2f4b4f5eb) seems to work (at least, for simple C examples):
[code]

A problem I found is that when I modify `CMakeLists.txt` all the C sources

[2020-10-05 03:33] tueda commented on #1
For reference for those who hit this issue: I have realized there are related posts in the forum,
- [Issues when using HDF5 as a git submodule and using CMake with add_subdirectory](https://forum.hdfgroup.org/t/issues-when-using-hdf5-as-a-git-submodule-and-using-cmake-with-add-subdirectory/7189)
- [Issue when building hdf5 as submodule via `add_subdirectory`](https://forum.hdfgroup.org/t/issue-whe

[2020-10-05 22:02] #9 closed, assigned to lrknox

[2020-10-17 22:51] danielsue opened #46 "Code crashes in HDF5-1.12.0 when some processors have no data to write"
Hi All,
After updating to HDF5-1.12.0, I got some problem if some processors have no data to write or not necessary to write. Since parallel writing is collective, I cannot disable those processors from writing. For the old version, there seems no such problem. So far, the problem only occurs on Linux using GNU compiler. The same code has no problem using intel compiler or latest gnu compiler on M

[2020-10-18 14:08] qkoziol commented on #46
Hi Daniel,
	There’s been a few fixes in the develop branch around this issue - is it possible for you to build that branch and try it for your code?

	Quincey

[2020-10-19 17:39] danielsue commented on #46
Hi Quincey,

I will give a try today and get back to you if it works or not.

Thanks,

Danyang

From: Quincey Koziol <notifications@github.com>
Reply-To: HDFGroup/hdf5 <reply@reply.github.com>
Date: Sunday, October 18, 2020 at 7:08 AM
To: HDFGroup/hdf5 <hdf5@noreply.github.com>
Cc: danielsue <danyang.su@gmail.com>, Author <author@noreply.github.com>
Subject: Re: [HDFGroup/hdf5] Code crashes in HDF

[2020-10-19 20:12] danielsue commented on #46
Hi Quincey,

When I git clone the repository, I could not find the configure file to compile the code. I used to run configure, then make and make install to compile hdf5. Sorry I if miss anything there.

Thanks,

Daniel

[2020-10-19 22:15] qkoziol commented on #46
Ah - you will need to run the “autogen.sh” file in the repo’s top directory after you’ve cloned it.   That script will generate the configure script and other files needed for the build.

	Quincey

[2020-10-20 06:11] danielsue commented on #46
Hi Quincey,

I successfully installed the hdf5 develop version. Unfortunately, there is still error if some processors have no data to write. The error information is shown below.

At line 6557 of file H5_gen.F90

Fortran runtime error: Index '1' of dimension 1 of array 'buf' above upper bound of 0

Thanks,

Daniel

From: Quincey Koziol <notifications@github.com>
Reply-To: HDFGroup/hdf5 <reply@rep

[2020-10-20 07:50] vasole opened #53 "Filter plugins crashing on with 1.12.0"
According to the examples found in the documentation concerning the use of filter plugins, a compression filter has to replace the input buffer by the output buffer. That is shown for the BZIP2 plugin example

[code]

The information is got from:

https://confluence.hdfgroup.org/display/HDF5/HDF5+Dynamically+Loaded+Filters

We experience that several plugin filters lead to crashes that can be avoi

[2020-10-20 11:41] ArchangeGabriel commented on #2
HDF6 is not a correct major version number change, HDF5 2.x would be. AFAIK the 5 in HDF5 relates to the storage specification, and that is stable AFAICT. What is changing here is the API of the official library for accessing this file format, and this library has version 1.12.x when it should likely be 2.x.y.

[2020-10-20 14:18] vasole commented on #53
Passing the flag ``--enable-memory-alloc-sanity-check=no`` to configure solves the problem. It seems the default settings have changed among HDF5 releases.

[2020-10-20 14:18] #53 closed, assigned to nobody

[2020-10-20 17:03] qkoziol commented on #46
Hmm, that’s interesting - let me CC the FORTRAN experts at THG.

	Quincey

[2020-10-20 21:12] danielsue commented on #46
Hi Quincey,

Thank you for taking care of this.

BTW: The code was tested with PETSc library. Not sure if this makes any difference. First, the HDF5 was configured and installed by ‘./configure --enable-parallel --enable-shared --enable-fortran --enable-c++’, then make and make install. Then PETSc 3.13.6 was installed with the specified HDF5 library. Finally the code was compiled and tested.

Than

[2020-10-20 23:39] brtnfld commented on #46
You need to pass a value for hcount(1) which is non-zero. For the non-F2003 interface, having a dimension of size 0 is not valid. As you can see, the non-F2003 APIs have the sized array as:

DIMENSION(dim(1), dim(2)...) data, and you passed dim(1) = 0

This issue is C_LOC is used: C_LOC(data((1,1,1,....), so 1 is beyond the upper bound of 0.

You can avoid the dimension issue by using the F2003 in

[2020-10-21 21:48] scivision commented on #2
Also msys2 / h5py is broken with hdf5 1.12

[2020-10-27 00:14] conradsnicta commented on #2
This is probably a good trade-off.

[2020-11-02 19:07] bljhdf opened #71 "t_cache_image hanging on some machines"
Date: Fri, 23 Oct 2020 07:28:52 -0600
From: Orion Poplawski <orion@nwra.com>
To: HDF Helpdesk <help@hdfgroup.org>
Subject: t_cache_image hanging on some machines
Parts/Attachments:
1 Shown ~152 lines Text
----------------------------------------

[ This message was cryptographically signed but the signature could not be verified. ]

When building hdf5 1.10.6 or 1.10.7 for Fedora Rawhide using the

[2020-11-05 14:01] sdebionne opened #75 "CMake variable HDF5_INSTALL_CMAKE_DIR should be lib/cmake on Windows"
On Windows, it looks like `HDF5_INSTALL_CMAKE_DIR` is set to `cmake` in https://github.com/HDFGroup/hdf5/blob/5b5a1a81029eb7bdc975beff5f18c9c440f5de56/config/cmake_ext_mod/HDFMacros.cmake#L359

Shouldn't this have the default value ` ${CMAKE_INSTALL_LIBDIR}/cmake` (given that the [`GNUInstallDirs`](https://cmake.org/cmake/help/latest/module/GNUInstallDirs.html) module is imported) or just `lib/cma

[2020-11-05 15:40] byrnHDF commented on #75
Unfortunately this was implemented many years ago and used in many projects. We will need to come up with a solution that does not adversely affect all users.

[2020-11-06 09:03] sdebionne commented on #75
What kind of problem do you foresee? If `HDF5_DIR` is set to `%PREFIX%\cmake\hdf5`, it should no interfere: it's just a hint. If the package is now installed in `%PREFIX%\lib\cmake\hdf5`, CMake will find it with it's default search procedure, so it should be transparent for the users.

[2020-11-06 12:35] byrnHDF commented on #75
I should explain a little more, I am sure this is the right way to move, we just need time to test the change, make sure we change all the uses of this (includes other projects that use this setting). It is just the logistics of our resources and process.

[2020-11-09 15:10] byrnHDF commented on #75
According to CMake documentation all search paths (Windows or Unix) are searched on all platforms. Therefore, line 359 in the HDFMacros.cmake file could be set to the same value as line 356. Would result in:
set (${package_prefix}_INSTALL_CMAKE_DIR share/cmake)

[2020-11-09 15:22] sdebionne commented on #75
Yes that should work, I mentioned `set (${package_prefix}_INSTALL_CMAKE_DIR lib/cmake)` as an example. Most of the libraries I use install CMake packages in `lib/cmake` folder on Windows though -I guess `share` is a bit more Posix than `lib`.

[2020-11-09 15:30] byrnHDF commented on #75
It removes another special setting and results in a single setting:
<
      set (${package_prefix}_INSTALL_DATA_DIR share)
    else ()
      set (${package_prefix}_INSTALL_DATA_DIR ".")
    endif ()
    set (${package_prefix}_INSTALL_CMAKE_DIR share/cmake)
  endif ()

[2020-11-09 15:32] byrnHDF commented on #75
Maybe we could even move all the way out;
<
      set (${package_prefix}_INSTALL_DATA_DIR share)
    else ()
      set (${package_prefix}_INSTALL_DATA_DIR ".")
    endif ()
  endif ()
  set (${package_prefix}_INSTALL_CMAKE_DIR share/cmake)

[2020-11-09 15:34] byrnHDF commented on #75
If we want to allow a user setting it would then be in an if block:
<
  endif ()
  if (NOT ${package_prefix}_INSTALL_CMAKE_DIR)
    set (${package_prefix}_INSTALL_CMAKE_DIR share/cmake)
  endif ()

[2020-11-09 15:35] byrnHDF commented on #75
The last would be consistent with the other settings.

[2020-11-10 17:18] byrnHDF commented on #75
If this is acceptable, I will create a PR for develop and then push changes to the other branches and products.

[2020-11-11 08:55] sdebionne commented on #75
LGTM. I like the simplification and the user setting, thanks!

[2020-11-11 13:49] byrnHDF commented on #75
I will be putting a general comment on #76 that PRs are first created on the develop branch.
I have created #79 to address this issue.

[2020-11-13 15:07] byrnHDF commented on #75
Changes pushed to all branches.

[2020-11-13 15:07] #75 closed, assigned to byrnHDF

[2020-11-13 21:47] gheber opened #92 "Alert users to not change collections in user callbacks while iterating"
`H5Iiterate` is a case in point, but all modules should be reviewed.

[2020-11-18 20:14] gheber opened #99 "There's no documentation for `H5Fformat_convert`."
Is this function deprecated? When was that?

[2020-11-20 17:33] lucasvr opened #108 "HDF5 crashes with inefficient compressors"
I noticed that HDF5 crashes when I/O filters produce more data than the original dataset size.

When a dataset is created, its declared dimensions + data type are naturally honored when it comes the time to write the data with H5Dwrite. The I/O filter interface, however, allows a compressor to either return a number that’s smaller than that (in which case it successfully compressed the data) or sl

[2020-11-23 02:54] lucasvr commented on #108
Just a heads up: the problem seems to be related to the chunking logic. Once the callback returns to the caller (`H5D__chunk_flush_entry -> H5Z_pipeline -> callback`), `H5D__chunk_flush_entry` calls `H5D__chunk_file_alloc`, which fails.

Using the example above, in which the dataset is described as a 10x10 grid, we have it on `H5D__chunk_file_alloc` that `idx_info->layout->size = 100`:

[code]

Th

[2020-11-24 21:30] adammoody opened #118 "Deadlock in H5FD__mpio_open due to bad MPI_File_get_size"
While debugging another issue unrelated to HDF5, I think I tripped up a deadlock condition.  In my test, it seems the MPI_File_get_size call returns an error here:
https://github.com/HDFGroup/hdf5/blob/c56464fc36a78167c22b84e4cfef0e0c2aafce80/src/H5FDmpio.c#L828-L832

That causes rank 0 to jump to the bottom of the function to close the file, which is a collective:
https://github.com/HDFGroup/hdf5

[2020-11-25 22:45] gheber opened #130 "Incorrect alias use in `H5Ipublic.h`"
In the documentation of `H5Iget_type`, use `\id_types` instead of `\types`.

[2020-12-09 17:52] kerim371 opened #149 "Cannot open include file: 'H5version.h': No such file or directory (when building dev branches)"
Hi,

When I try to build dev branch I get the following error:
_C:\S\extensions\Proba_fixed\Proba-build\hdf5\src\H5public.h(32,10): fatal error C1083: Cannot open include file: 'H5version.h': No such file or directory [C:\S\extensions\Proba_fixed\Proba-build\hdf5-build\src\H5detect.vcxproj] [C:\S\extensions\Proba_fixed\Proba-build\hdf5.vcxproj]
    Building Custom Rule C:/S/extensions/Proba_fixed/

[2020-12-13 10:32] kerim371 opened #167 "hdf5-config.cmake is located in wrong directory (at least on Windows 10)"
Hi,

In my project wich externally builds HDF5 when I try to run `find_package(hdf5)` I get the error:
**CMake Error at C:/S/extensions/Proba_fixed/Proba-build/hdf5-build/hdf5-config.cmake:25 (message):
File or directory C:/S/extensions/Proba_fixed/bin referenced by variable HDF5_TOOLS_DIR does not exist !**

If I move `hdf5-config.cmake` to `C:/.../hdf5-build/src/CMakeFiles` the commands:
[code]

[2020-12-14 13:10] byrnHDF commented on #167
A recent commit moved the location of the config file (development branches) - maybe the targets file needs some extra work.

[2020-12-14 16:11] kerim371 commented on #167
@byrnHDF hi,

I just tried the `develop` branch and unfortunately it seems to me that nothing was changed.  File `hdf5-config.cmake` is in `C:\S\extensions\Proba_fixed\Proba-build\hdf5-build` and I still get the same error:
 **CMake Error at C:/S/extensions/Proba_fixed/Proba-build/hdf5-build/hdf5-config.cmake:25 (message):
 File or directory C:/S/extensions/bin referenced by variable HDF5_TOOLS_DI

[2020-12-14 16:25] byrnHDF commented on #167
Oh, there is a difference between build and install usage. The files are created for install usage, there is a different method for using the build usage. I do not have the details off the top of my head, but a search should show the necessary method.

[2020-12-14 16:28] kerim371 commented on #167
Ohh, I'm sorry then for bothering you
I will google that

[2020-12-14 16:31] byrnHDF commented on #167
Be sure to add a comment on your success (or failure).
We could add this process to the release docs.

Allen

[2020-12-15 04:06] kerim371 commented on #167
@byrnHDF I overcome the above problem by installing hdf5 to `EP_INSTALL_DIR` and then I set `hdf5_DIR` to `${EP_INSTALL_DIR}/cmake/hdf5`

But then when performing `find_package(hdf5 REQUIRED CONFIG PATHS ${hdf5_DIR})` I get:
[code]

My project is based on a [Slicer 3D](https://github.com/Slicer/Slicer) that includes **VTK**, **ITK** and these **VTK** and **ITK** build ther **hdf5** libs with prefi

[2020-12-15 13:21] byrnHDF commented on #167
So something has pre-defined those two targets somewhere else. Can you rebuild hdf5 with a namespace? See the config/cmake/cacheinit.cmake file in the source for the setting we use in daily tests.

Allen

[2020-12-15 14:03] kerim371 commented on #167
@byrnHDF I added `set (HDF_PACKAGE_NAMESPACE "hdf5::" CACHE STRING "Name for HDF package namespace (can be empty)" FORCE)` but I get the same error

[code]

[2020-12-15 14:29] byrnHDF commented on #167
So you are building hdf5 as an ExternalProject - the you need to pass that namespace as well. Not sure, but the -Dhdf5_* args need to be uppercase as well.

I have used this in another project:
    EXTERNALPROJECT_ADD (HDF5
        GIT_REPOSITORY ${HDF5_URL}
        GIT_TAG ${HDF5_BRANCH}
        INSTALL_COMMAND ""
        CMAKE_ARGS
            -DBUILD_SHARED_LIBS:BOOL=${BUILD_SHARED_LIBS}

[2020-12-15 16:07] kerim371 commented on #167
@byrnHDF thank you very much

Now the compilation goes much further and I get link error:
`LINK : fatal error LNK1104: cannot open file 'hdf5.lib' [C:\S\extensions\Proba_fixed\Proba-build\inner-build\KKK\qSlicerKKKModule.vcxproj] [C:\S\extensions\Proba_fixed\Proba-build\inner.vcxproj]`

Could you please clarify since I'm now using `HDF_PACKAGE_NAMESPACE` is there something I need to know when link

[2020-12-15 16:53] byrnHDF commented on #167
I would think as long as you use targets everything should be okay. Which reminds me that you need to import targets.
Here is more of the code after the ExternalProject call:

[code]

[2020-12-15 20:09] kerim371 commented on #167
@byrnHDF I've written the following code after `ExternalProject_Add`:
[code]

In this case I get many warnings similar to this:
[code]

Full output is attached to the post
[log.txt](https://github.com/HDFGroup/hdf5/files/5698282/log.txt)

The error says:
[code]

[2020-12-15 20:30] byrnHDF commented on #167
Sorry, there are so many things one forgets once things are working.
See the hdf5 config/cmake_ext_mod/HDFLibMacros.cmake file for the HDF_IMPORT_SET_LIB_OPTIONS macro. You might not need all of it, but it should show all the commands we use to create the imports.

[2020-12-15 20:33] byrnHDF commented on #167
Also ${MYPROJ_PACKAGE_NAMESPACE} is not the same as hdf5 namspace it is the namespace of the calling project (likely empty).

[2020-12-16 02:50] kerim371 commented on #167
@byrnHDF I figured out one thing. If I try to build some similar project that is also based on Slicer 3D and that has not **HDF5** built by me then in the project compiles fine but I still can see many-many messages of type:
[code]

Then back to my project with **HDF5**.
I added the following code:
[code]
and the output shows that cmake didn't set **HDF5** variables:
[code]
I thought that if `find

[2020-12-17 20:26] hyoklee opened #195 "SZ filter target name is wrong."
h5ex_d_szf should be h5ex_d_sz.

[2020-12-17 21:17] byrnHDF commented on #195
This will need to be in all the branches including 1.8.22 release.

[2020-12-17 21:22] #195 closed, assigned to nobody

[2020-12-17 21:50] lrknox commented on #195
It’s in 1.8.22 now.  I thought I was pushing to hdf5_1_8_22 in my fork to create a PR, but “git push” sent it to canonical instead of to origin.  Apparently with multiple remotes the default behavior can change.

I’ll cherry-pick the SZ filter change to PRs for 1.12, 1.10 and 1.8 shortly.

Larry

From: Allen Byrne <notifications@github.com>
Sent: Thursday, December 17, 2020 3:18 PM
To: HDFGroup/hd

[2020-12-21 20:42] dmageeLANL opened #218 "1.10.7 - Pkgconfig on cmake build incomplete (RHEL 7.8 (Toss3))"
Here are the files in $prefix/lib/pkgconfig when building with cmake:

[code]

It's missing the fortran_hl config file.  Also the pc files themselves point at a pc file that isn't there:

[code]

There's no hdf5.pc file so the compiler wrappers h5fc and h5hlcc are broken.

Also there is no h5hlfc wrapper in bin which is confusing considering there are fortran hl libraries and h5hlcc exists in bin.

[2020-12-22 13:38] byrnHDF commented on #218
The hdf5_hl_fortran-1.10.7.pc file is now in source.
The "Requires.private: hdf5" should be "Requires.private: hdf5-1.10.7"? What about "Requires: hdf5"?

Allen

[2020-12-22 13:55] byrnHDF commented on #218
If I add the "-1.10.7" to both the "Requires" and "Requires.private" will static linking work? If I understand the pkg_config docs correctly, the ".private" settings are for static linking.

[2020-12-23 00:14] dmageeLANL commented on #218
Sure, both should work as far as I know.  You call them as inputs to the pkg config command in the cmake wrappers so that's why they're important from my POV.  So if you add the suffix to the pkg config files, that will fix that issue.  Then there's just he issue of the missing config and wrapper.

I can test it to confirm the functionality if you provide a final commit hash I can point to.

[2020-12-23 14:51] byrnHDF commented on #218
The commit is currently the last one: https://github.com/HDFGroup/hdf5/commit/497e8382cd1e40864843991d19ebc0d19a206dcf

[2020-12-23 23:55] dmageeLANL commented on #218
I tested it out and it looks good.  Thanks!

-Dan

[2020-12-23 23:55] #218 closed, assigned to nobody

[2020-12-29 17:04] byrnHDF commented on #167
I usually put the ${..} variables within the quotes.
  message (STATUS "HDF5 C libs:${HDF5_FOUND} static:${HDF5_static_C_FOUND} and shared:${HDF5_shared_C_FOUND}")
    message (STATUS "HDF5-${HDF5_VERSION_STRING} found: INC=${HDF5_INCLUDE_DIR} TOOLS=${HDF5_TOOLS_DIR}")

[2021-01-08 15:36] byrnHDF commented on #149
dev branch requires the generation of the files, which requires PERL.

option (HDF5_GENERATE_HEADERS "Rebuild Generated Files" ON)
if (HDF5_GENERATE_HEADERS)
  set_source_files_properties(${H5_GENERATED_HEADERS} PROPERTIES GENERATED TRUE)
  find_package (Perl)

[2021-01-08 16:30] kerim371 commented on #149
@byrnHDF thank you

[2021-01-08 16:30] #149 closed, assigned to nobody

[2021-01-10 08:51] tbeu commented on #2
Same holds for [libmatio](https://github.com/tbeu/matio) where I needed to make the appropriate changes to support HDF5 v1.8x, v1.10.x and v1.12.0.

[2021-01-15 00:10] nritsche opened #265 "Crash when writing parallel compressed chunks"
Follow up of https://forum.hdfgroup.org/t/crash-when-writing-parallel-compressed-chunks/6186

I found that the following test still fails with the current `develop` branch:

[code]

[code]

Note that `--mca io ompio` gives identical results.

Ubuntu 20.04.1
openmpi 4.0.3

[2021-01-19 20:42] tbeu opened #272 "Delegating open fuzzing issues of libmatio to hdf5"
OSS library [matio](https://github.com/tbeu/matio) is being continuously fuzzed by the [oss-fuzz](https://github.com/google/oss-fuzz) service. Most of the [open matio fuzzing issues](https://bugs.chromium.org/p/oss-fuzz/issues/list?q=matio&can=2&sort=-id&mode=grid&x=Engine&y=Type) seem to be related to the hdf5 v1.12.0 library dependency which is is not being fuzzed by oss-fuzz. Whom can I add as

[2021-01-23 22:16] ericnardi opened #280 "Can't compile using AOCC Compilers"
I'm trying to compile the latest stable release (1.12.0) on a Linux machine, using [AMD Optimizing C/C++ Compilers](https://developer.amd.com/amd-aocc/), but I get errors when running make.

The configure step completes succesfully (I have zlib compiled with AOCC and installed to the directory pointed by the PREFIX variable):

[code]

But when running make, I get the following error:

[code]

[2021-01-24 14:52] byrnHDF commented on #280
From that error log it indicates that the fortran library did not get built and the setting of the so name failed because it could not find the file. Therefore there must be another failure in either the compile of the sources or the linking of the library.

[2021-01-25 14:11] ericnardi commented on #280
Hi @byrnHDF, thanks for replying.

Yes, actually, it seems like the fortran shared library did not get built because the -soname flag is not identified by this version of the clang compiler, and the way I see it these flags should actually be sent to the linker in this case (via -Wl flags). It seems that libtool doesn't recognize these AOCC compilers very well and these flags are incorrectly set.

[2021-01-31 01:09] gheber opened #296 "Do not use /bin/mv in configure.ac"
Believe it or not, there are systems where `mv` is not located at `/bin/mv`. For example:
[code]
In that case, the references to `/bin/mv` on lines 98 and 103 in `configure.ac` are show stoppers.

[2021-02-04 00:02] AdamKorcz opened #309 "Continuous fuzzing through OSS-fuzz"
I have been working on setting up continuous fuzzing of hdf5 by way of Libfuzzer and OSS-fuzz.

Fuzzing of hdf5 has been discussed here: https://github.com/HDFGroup/hdf5/pull/263#issuecomment-766171426 and here: https://github.com/HDFGroup/hdf5/issues/272.

Tagging @schwehr since you suggested integrating with OSS-fuzz.

I have set up a draft integration over at OSS-fuzz here: https://github.com/g

[2021-02-04 09:20] dotlambda opened #310 "Patches for CVE-2020-10809 through CVE-2020-10812"
I can't find patches for these four CVEs:
* [CVE-2020-10809](https://nvd.nist.gov/vuln/detail/CVE-2020-10809)
* [CVE-2020-10810](https://nvd.nist.gov/vuln/detail/CVE-2020-10810)
* [CVE-2020-10811](https://nvd.nist.gov/vuln/detail/CVE-2020-10811)
* [CVE-2020-10812](https://nvd.nist.gov/vuln/detail/CVE-2020-10812)

Can you help me out?

[2021-02-04 18:30] seanm opened #311 "Support 'Universal Binaries' on macOS"
As when Macs previously changed from PowerPC to Intel, Mac developers these days again need to support 'Universal Binaries', which are basically libraries/executables that contain both Intel and ARM code.

Back in the PowerPC+Intel days, building HDF5 as Universal Binaries worked fine, for me at least.

But now the current code in the develop branch, and presumably other branches, contains in `con

[2021-02-11 13:31] Mattyboi123 opened #329 "concatenate"
Is there any chance of adding a concatenate function that would allow one to append new hdf5s to an existing hdf5? SO to take all the hdf5s in a folder and merge them?

[2021-02-12 16:28] hyoklee commented on #329
Try NCO: http://nco.sourceforge.net/nco.html#Concatenation

[2021-02-12 23:17] seanm opened #334 "Make use of C++11 `override`"
Even if HDF5 doesn't require at least C++11, it could use the `override` keyword conditionally like this:

[code]

In projects that now require C++11, like VTK and ITK, HDF5 headers are now causing lots of compile warnings from, for example, clang's -Wsuggest-override -Wsuggest-destructor-override warnings.

Suppressing these warnings isn't a great idea as `override` is great for finding mistakes.

[2021-02-13 22:53] qkoziol commented on #334
Could you give an example in the source code where the override keyword is used?  I grep'ed through the codebase and didn't see anything (at least from a quick read).

[2021-02-14 00:58] seanm commented on #334
Sorry, where I said "could use" I should have said "should use".  What I'm suggesting is that someone should sprinkle `override` keywords everywhere/appropriately in the HDF5 codebase.  The lack of them is causing warnings in projects that use HDF5.

If C++11 is already your minimum, then the actual `override` keyword should be used.  If you still need C++98 support, the `#define` trick should be

[2021-02-15 15:09] byrnHDF commented on #280
Any possibility to try building with CMake, to see if that system can handle this compiler?

[2021-02-15 21:21] woutdenolf opened #339 "How are links saved with order tracking enabled?"
When creating an HDF5 file with tracking order enabled on the root and more than 8 top-level groups, I do not see any top-level links when iteration over the data objects starting from the superblock. How are links expected to be saved? When I go from 8 to 9 top-level HDF5 groups, the file structure seems to change drastically.

FYI I'm doing this in an attempt to reconstruct a corrupt HDF5 file (

[2021-02-16 00:01] seanm opened #343 "In C, double underscores should not be used at the start of an identifier"
I notice there were some changes recently like:

https://github.com/HDFGroup/hdf5/commit/cba993c3492d773e5d0923257382eca17e594910

[code]

Where some things got renamed to have double underscores.

However, in C, all names containing a double underscore are reserved:

https://wiki.sei.cmu.edu/confluence/display/cplusplus/DCL51-CPP.+Do+not+declare+or+define+a+reserved+identifier

These days clang c

[2021-02-16 13:54] byrnHDF commented on #311
Creating merges to 1.12 and 1.10 now. PR #344

[2021-02-17 16:54] robertu94 opened #348 "Should plugins free the incoming buffer with POSIX `free()` or `H5free_memory()`"
According to the documentation, if a filter plugin does not operate in place, that `*buf` should be freed using `free` however, on my linux system, this causes a segfault.  I found a comment in the release notes that I should use `H5free_memory` to free any memory allocated by HDF5.  Could this documentation be updated?

https://github.com/HDFGroup/hdf5/blob/2ea165efd095d8876639814dc615dd01a2ec34e

[2021-02-17 19:12] seanm opened #349 "`H5FD__init_package` totally unused (it seems to me, and according to clang)"
Many files have a function `H5FD__init_package`, usually `static`.  It appears totally unused.  Clang warns:

[code]

Am I blind or is it really unused?

[2021-02-18 00:53] hyoklee opened #351 "Typo in https://hdf5.io/develop/index.html"
`Handle discipline: If you acquire a handle (by creation or coopy), you own it! (..., i.e., you have to close it.) `

@gheber , please fix it.

[2021-02-18 02:44] gheber commented on #351
OOK

[2021-02-19 00:30] qkoziol commented on #349
It's composed as a result of the H5_PACKAGE_INIT_FUNC "glue" macro, from the 'H5_MY_PKG' macro in src/H5FDmodule.h.   It's not a great fit in the way it's currently used, but would be some work to refactor to eliminate. :-/

[2021-02-19 03:00] qkoziol commented on #343
It's definitely "marching to our own drummer", at the least. :-)

The use of underscores after the "H5*" prefix for function names in the HDF5 source code follows these rules:
- Public routines: No '_' after the "H5*" prefix.
- "Library private"-scoped routines: One '_' after the "H5*" prefix.
- "Package"-scoped and static routines: Two '_' after the "H5*" prefix.

I believe our use of two '_' in

[2021-02-19 03:48] seanm commented on #343
Thanks for explaining the naming scheme, I understand the point of the change now.

More importantly, I confused C and C++, and in fact double underscore is OK within the identifier in C.  Here's a link for C, not C++:

https://wiki.sei.cmu.edu/confluence/display/c/DCL37-C.+Do+not+declare+or+define+a+reserved+identifier

But I didn't create this ticket for nothing, there are in fact many `-Wreserv

[2021-02-19 03:52] qkoziol commented on #343
Ah, excellent, glad to know that it's still OK in C.  *whew*  ;-)

Yes - I noticed the header file inclusion guard issue also and agree with you about fixing those.

[2021-02-19 03:55] seanm commented on #343
What new spelling?  Just drop the leading underscore?

[2021-02-19 03:58] qkoziol commented on #343
Yes, that looks fine to me and is what the SEI page offers for a suggested fix.

[2021-02-19 04:42] seanm commented on #343
OK cool.  Seems sometimes 1 leading underscore is used, other times 2.  These two regex seem to catch them all:
- ` _H5(.*)_H` - 90 matches in .h files
- ` __H5(.*)_H` - 501 matches in .h files

https://github.com/HDFGroup/hdf5/pull/361

[2021-02-19 13:23] byrnHDF commented on #311
Also in 1.8 PR.

[2021-02-19 13:23] #311 closed, assigned to nobody

[2021-02-19 13:23] byrnHDF commented on #311
Change in all branches.

[2021-02-19 21:32] seanm commented on #334
@qkoziol maybe `H5api_adpt.h` would be a good place to add an `HDF_OVERRIDE` macro?

It already has things like `#define H5TEST_DLL    __attribute__((visibility("default")))`

[2021-02-19 21:34] lrknox opened #362 "Merge changes from PR #338 "Fix undefined left shifting of negative numbers" to support branches"
Merge needed to hdf5_1_12, hdf5_1_10, and hdf5_1_8 after passing all test configurations in daily test cycle

[2021-02-19 21:40] lrknox opened #363 "Merge changes from PR #340 "Fixed various clang -Wformat-security warnings" to support branches"
Merge #340 needed to hdf5_1_12, hdf5_1_10, and hdf5_1_8 after passing all test configurations in daily test cycle

[2021-02-19 21:44] lrknox opened #364 "Merge changes from PR #356 "Fixed HDFFV-11150" to support branches"
Merge #356 needed to hdf5_1_12  after passing all test configurations in daily test cycle, assuming that the issue is already addressed in hdf5_1_8 and hdf5_1_10.

[2021-02-19 21:47] lrknox opened #365 "Merge changes from PR #360 "Fixed uninitialized warnings" to support branches"
Merge #360 needed to hdf5_1_12, hdf5_1_10, and hdf5_1_8 after passing all test configurations in daily test cycle

[2021-02-19 22:25] qkoziol commented on #334
I did a little more research on the override keyword and it's only relevant to the C++ methods, so it may be better in one of the C++ -specific headers.

@bmribler - Any opinions?

[2021-02-20 11:13] tbeu commented on #8
* Why is this targeting milestone "HDF5 1.8.22 release", which is already released?
* Why is milestone "HDF5 1.8.22 release" still open after release?

[2021-02-20 15:50] bmribler commented on #334
Yes, it can be in H5Cpp.h.

[2021-02-20 16:49] seanm commented on #334
And what is your minimum C++ version?  Do we even need a macro or can `override` be used directly?

[2021-02-20 16:52] byrnHDF commented on #8
Thank you for pointing this out - we overlooked managing the milestone information.

[2021-02-20 17:53] bmribler commented on #334
C++98 and we need the macro.

[2021-02-20 18:52] seanm commented on #334
How should I spell it?  `HDF_OVERRIDE`? `HOVERRIDE`? `H5OVERRIDE`?

[2021-02-20 21:03] bmribler commented on #334
Oh, I thought we're going to do that.  My guess is H5_OVERRIDE, but I'll bring it up with the group to make sure.

[2021-02-20 22:06] seanm commented on #334
It's something someone like me, that doesn't know the codebase, can still easily do.

[2021-02-21 09:25] VI-gha opened #366 "clang-11: error: unknown argument: '-soname'"
This error occurs when installing HDF5 with AOCC-2.3 (derived from clang/flang)
It makes it impossible to enable-shared: how to sort this out?

[2021-02-22 17:55] bmribler commented on #334
H5_OVERRIDE can be used.  Thanks!

[2021-02-23 04:46] lrknox opened #368 "Merge changes from PR #361 "Fixed many -Wreserved-id-macro warnings by fixing header guard spelling" to support branches"
Merge #361 needed to hdf5_1_12, hdf5_1_10, and hdf5_1_8 after passing all test configurations in daily test cycle

[2021-02-23 13:43] lrknox commented on #362
Merged to hdf5_1_12, hdf5_1_10, and hdff5_1_8.

[2021-02-23 13:43] #362 closed, assigned to lrknox

[2021-02-23 13:49] lrknox opened #373 "Need to merge "Fix for HDFFV-11109 - Copy MPI comm and info object into output FAPL from H5F_get_access_plist #342" to support branches"
@jhendersonHDF - to which of hdf5_1_12, hdf5_1_10, hdf5_1_8 should this be merged?

[2021-02-23 17:10] jhendersonHDF commented on #373
@lrknox I will need to do some quick testing to see which of the branches has the same issue. I imagine 1.12 will definitely need it, but I need to see if the problem exists in 1.10 as well. I don't think 1.8 should need it. I will create the PRs after testing.

[2021-02-23 19:32] ericnardi commented on #280
Good idea, I just tried it, but no luck...

But now the problem seems different, maybe I am missing something. I get the following errors when trying to compile with CMake:

[code]

And I tried to manually run the build commands, but 'make' doesn't see the compiled library, it just tries to recompile it and fails with the same error.

[2021-02-25 18:16] lrknox opened #384 "Merge changes from "Patches from vtk #358" to support branches"
Merge #358 needed to hdf5_1_12, hdf5_1_10, and hdf5_1_8 after passing all test configurations in daily test cycle.
(commit c29e1b9)

[2021-02-25 20:20] hyoklee opened #385 "GitHub Action doesn't submit test result."
Can it run `ctest -T submit` at the end so that I can see test result in cdash.hdfgroup.org?
If not, why not?

[2021-02-25 20:58] lrknox opened #386 "Remove outdated line in copyright header from java test files (and other files found to be initially created since 2006)."
Actually all these java test files are new since like 2010.

_Originally posted by @byrnHDF in https://github.com/HDFGroup/hdf5/pull/372#discussion_r583107711_

[2021-02-25 21:10] lrknox commented on #386
Files created by HDF Group developers after 2006 should have only "Copyright by The HDF Group." in the copyright header.  The line "Copyright by the Board of Trustees of the University of Illinois." is often incorrectly included for such files when copied from other files created before 2007.  The statement above indicates there are 42 files in the java/test directory that need this correction.

P

[2021-02-26 11:47] VI-gha commented on #366
@lrknox Can anybody help with that?

[2021-02-26 14:05] lrknox commented on #366
@VI-gha do you have logs with the error that give more detailed errors?  Other build details would also be useful.  We'll see if we can set up or find AOCC-2.3 on a system available to us, try to reproduce and find the problem and a fix for it.

[2021-02-26 21:29] byrnHDF commented on #386
- [x] merge to 1.12
- [x] merge to 1.10
- [x] complete

[2021-02-26 21:44] #373 closed, assigned to lrknox

[2021-02-26 22:24] gnuoyd opened #398 "H5LT lexer and parser share state with global variables when there is no need."
The lexer uses an unconventional strategy for parsing lexical categories NUMBER (decimal numbers) and STRING (double-quoted strings) that involves sharing the parse context with the lexer using global variables. There are a couple of problems with that. First, the lexer is too complicated for the simple tokenization it performs—it's hard to tell if it is correct. Second, as @seanm points out, the

[2021-02-28 18:57] seanm commented on #334
A tangentially-related question: what is HDF5's minimum C version?  C17? C11? C99? C89?

[2021-03-01 02:17] qkoziol commented on #334
C99 officially, but we'd like to move up to at least C11 if possible.

[2021-03-01 21:19] SMillerDev opened #408 "FTP server potentially compromised"
Hi. Homebrew maintainer here.

When 1.8.22 was initially released, the https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8/hdf5-1.8.22/src/hdf5-1.8.22.tar.bz2 file had a sha256 of: 0ac77e1c22bce5bbbdb337bd7f97aeb5ef43c727a84ccb6d683d092eb57ebd8e

The file's sha256 is now 689b88c6a5577b05d603541ce900545779c96d62b6f83d3f23f46559b48893a4.

This means that the initial file on you FTP was replaced.

[2021-03-01 21:21] iMichka commented on #408
BTW I also tried to open an issue in the forum but my message is still under review.

[2021-03-01 22:11] gheber opened #409 "Doxygen comments are missing for deprecated functions in H5Gpublic.h"
Just because they are deprecated doesn't mean that they don't need to be documented.

[2021-03-01 22:14] gheber opened #410 "Doxygen comments are missing for deprecated functions in H5Dpublic.h"
Just because they are deprecated doesn't mean that they don't need to be documented.

[2021-03-01 22:20] gheber opened #411 "Doxygen comments are missing for deprecated functions in H5Rpublic.h"
Just because they are deprecated doesn't mean that they don't need to be documented.

[2021-03-02 17:33] bljhdf commented on #408
Hello!

It appears that the hdf5-1.8.22.tar.bz2 file is okay. However, the checksum we provide is “md5” and not “sha256”. I used “wget” to download the checksum and bz2 files, and then compared the checksum values:

wget https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8/hdf5-1.8.22/src/hdf5-1.8.22.tar.bz2
wget https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8/hdf5-1.8.22/src/hdf5-1.8.2

[2021-03-02 18:28] SMillerDev commented on #408
This doesn't have anything to do with the type of checksum. If the checksum changed it means the file changed, regardless of the type of hash you provide.

If the md5 did not change that makes it more likely that this was a malicious attack.

If the file is not intentionally changed by the hdf group I think we'll need to treat the file as compromised in homebrew.

[2021-03-02 18:36] lrknox commented on #408
Looking back at emails to Lori for the release announcement, it was discovered on February 5 that the so numbers for the c++ libraries had not been updated, a new source release was created, and the files on the public ftp server replaced, followed by the public announcement.  The release date on https://portal.hdfgroup.org/display/support/HDF5%201.8.22 should have been updated to February 5.  The

[2021-03-02 18:42] SMillerDev commented on #408
Thanks. If the software was retagged that would explain the discrepancy.

The [git manual](https://git-scm.com/docs/git-tag#_on_re_tagging) says re-tagging is "the insane thing" to do, so I would advise upping the version and making a bug fix a separate release next time. It would stop some people providing hdf to the public from worrying about the source.

[2021-03-02 18:53] lrknox commented on #408
Noted.

These are the sha256 checksums for the files in our internal release directory:

4cf9139aab5d2d699b922494e01467c596443c9ef28b52def50b4a83a84c0657  CMake-hdf5-1.8.22.tar.gz
97084a5e10974531eb7c3bd0ffeb63b308353b4cbbf08d768caa36c5b975140e  CMake-hdf5-1.8.22.zip
89d6fb362f1fbe8e9d8144aff6776fe8ed26804d80dc35f30b0b1f1be6e827d3  hdf5-1.8.22.tar
689b88c6a5577b05d603541ce900545779c96d62b6f83d3f23

[2021-03-02 19:40] iMichka commented on #408
Thanks!

[2021-03-03 13:14] lrknox commented on #384
Changes merged to hdf5_1_12 in PR #412

[2021-03-03 13:14] lrknox commented on #368
Changes merged to hdf5_1_12 in PR #412

[2021-03-03 16:17] byrnHDF commented on #384
Changes merged to 1.10 in PR #419
Changes merged to 1.8 in PR #418

[2021-03-03 16:17] byrnHDF commented on #368
Changes merged to 1.10 in PR #419
Changes merged to 1.8 in PR #418

[2021-03-04 13:08] byrnHDF commented on #363
merge to 1.12 in #421

[2021-03-04 13:08] byrnHDF commented on #365
merge to 1.12 in #421

[2021-03-04 16:08] lrknox opened #422 "Merge changes from PR #380 "Use do-while trick to force H5Epush_ret() to require trailing semi" to support branches"
Merge #380 needed to hdf5_1_12, hdf5_1_10, and hdf5_1_8 after passing all test configurations in daily test cycle

[2021-03-04 18:57] byrnHDF commented on #365
merge to 1.10 in #424

[2021-03-04 18:57] byrnHDF commented on #363
merge to 1.10 in #424

[2021-03-04 21:43] byrnHDF commented on #365
merge to 1.8 in #432

[2021-03-04 21:43] byrnHDF commented on #363
merge to 1.8 in #432

[2021-03-05 00:55] seanm commented on #334
WIP here: https://github.com/HDFGroup/hdf5/pull/433

@bmribler but `H5Cpp.h` doesn't work for me, it seems to not be included by any of the headers where I added `override`

[2021-03-05 14:58] lrknox opened #435 "Merge changes from PRs #425, 427, 428 to support branches."
Merge needed to hdf5_1_12, hdf5_1_10, and hdf5_1_8 as appropriate for PRs #425, 427, 428 after passing all test configurations in daily test cycle

#425 Fixes various warnings noticed on Windows
#427 Fixed clang-tidy readability-misleading-indentation warnings
 #428 Fixed clang-tidy readability-redundant-control-flow warnings

[2021-03-05 16:47] byrnHDF commented on #422
Merge to 1.12 #438    Merged 3/5/2021
Merge to 1.10 #439    Merged 3/5/2021
Merge to 1.8 in #432    Merged 3/5/2021

[2021-03-05 21:12] byrnHDF opened #440 "dsets test reading past end of buffer (from PR #3)"
So I can confirm that two are fixed, and `H5TEST-dsets` is not.  I debugged it a bit:

`H5MM_memcpy` is reading past the end of a 32 byte buffer because it's being told to read 256 bytes.  The buffer is:

https://github.com/HDFGroup/hdf5/blob/52ac74689a869b4ae40801e6096a1f037aad0081/test/dsets.c#L12185

`const int         buffer[8]   = {0, 1, 2, 3, 4, 5, 6, 7};`

The backtrace is:

[code]

[code]

[2021-03-05 21:12] byrnHDF opened #441 "dsets test reading past end of buffer (from PR #3)"
So I can confirm that two are fixed, and `H5TEST-dsets` is not.  I debugged it a bit:

`H5MM_memcpy` is reading past the end of a 32 byte buffer because it's being told to read 256 bytes.  The buffer is:

https://github.com/HDFGroup/hdf5/blob/52ac74689a869b4ae40801e6096a1f037aad0081/test/dsets.c#L12185

`const int         buffer[8]   = {0, 1, 2, 3, 4, 5, 6, 7};`

The backtrace is:

[code]

[code]

[2021-03-05 21:14] byrnHDF opened #442 "dsets test reads past end of buffer (from PR #3)"
So I can confirm that two are fixed, and `H5TEST-dsets` is not.  I debugged it a bit:

`H5MM_memcpy` is reading past the end of a 32 byte buffer because it's being told to read 256 bytes.  The buffer is:

https://github.com/HDFGroup/hdf5/blob/52ac74689a869b4ae40801e6096a1f037aad0081/test/dsets.c#L12185

`const int         buffer[8]   = {0, 1, 2, 3, 4, 5, 6, 7};`

The backtrace is:

[code]

[code]

[2021-03-05 21:16] byrnHDF opened #443 "dsets test reads past end of buffer"
So I can confirm that two are fixed, and `H5TEST-dsets` is not.  I debugged it a bit:

`H5MM_memcpy` is reading past the end of a 32 byte buffer because it's being told to read 256 bytes.  The buffer is:

https://github.com/HDFGroup/hdf5/blob/52ac74689a869b4ae40801e6096a1f037aad0081/test/dsets.c#L12185

`const int         buffer[8]   = {0, 1, 2, 3, 4, 5, 6, 7};`

The backtrace is:

[code]

[code]

[2021-03-05 21:18] byrnHDF opened #444 "dsets test reads past end of buffer (from PR#3)"
Issue created to capture issue from PR #3

[2021-03-05 21:19] byrnHDF commented on #444
So I can confirm that two are fixed, and H5TEST-dsets is not. I debugged it a bit:

H5MM_memcpy is reading past the end of a 32 byte buffer because it's being told to read 256 bytes. The buffer is:

hdf5/test/dsets.c

Line 12185 in 52ac746

 const int         buffer[8]   = {0, 1, 2, 3, 4, 5, 6, 7};
const int buffer[8] = {0, 1, 2, 3, 4, 5, 6, 7};

[2021-03-05 21:21] #443 closed, assigned to byrnHDF

[2021-03-05 21:22] #442 closed, assigned to byrnHDF

[2021-03-05 21:22] #441 closed, assigned to byrnHDF

[2021-03-05 21:22] #440 closed, assigned to byrnHDF

[2021-03-05 22:39] #422 closed, assigned to lrknox, byrnHDF

[2021-03-05 23:34] qkoziol commented on #444
What's the line # in test/dsets.c for the develop branch?

[2021-03-08 14:30] lrknox opened #446 "Merge changes from PRs #434, 437 to support branches."

[2021-03-09 13:44] byrnHDF commented on #363
Completed

[2021-03-09 13:44] #363 closed, assigned to lrknox, byrnHDF

[2021-03-09 13:46] byrnHDF commented on #365
Completed - DT passed.

[2021-03-09 13:46] #365 closed, assigned to byrnHDF

[2021-03-09 13:46] byrnHDF commented on #368
Completed - DT passed.

[2021-03-09 13:46] #368 closed, assigned to byrnHDF

[2021-03-09 13:46] byrnHDF commented on #384
Completed - DT passed.

[2021-03-09 13:46] #384 closed, assigned to lrknox, byrnHDF

[2021-03-10 18:01] lrknox opened #458 "Merge changes from PRs #429, #433, #448, #449, #451 to support branches."

[2021-03-10 21:30] lrknox commented on #435
PR #425 Fixes various warnings noticed on Windows was merged to hdf5_1_12 along with #427 Fixed clang-tidy readability-misleading-indentation warnings and #428 Fixed clang-tidy readability-redundant-control-flow warnings in PR #460.

#427 Fixed clang-tidy readability-misleading-indentation warnings and #428 Fixed clang-tidy readability-redundant-control-flow warnings were also merged to hdf5_1_10

[2021-03-10 21:32] lrknox commented on #446
Merged changes to hdf5_1_12 in PR # 460.

Merged changes to hdf5_1_10 in PR # 462.

Not merged to hdf5_1_8 pending further discussion.

[2021-03-12 12:14] woutdenolf opened #468 "ftruncate fails on NFS"
hdf5 1.10.4

Original issue: https://github.com/h5py/h5py/issues/1859

This fails occasionally (hard to reproduce) when flushing to a file over NFS:
https://github.com/HDFGroup/hdf5/blob/hdf5-1_10_4/src/H5FDsec2.c#L891-L892

Is this a know problem with NFS?

[2021-03-15 13:16] #398 closed, assigned to gnuoyd

[2021-03-16 13:56] Apollo3zehn opened #472 "Read hyperslab does not give expected results"
I created some test data (just a range of numbers starting from 0 to the size of the dataset) and wrote them to file as three-dimensional array with shape [25, 25, 4] and chunk shape [7, 20, 3] (I am working with C# and the P/Invoke package).

Then I read these data back into memory using the following two hyperslab selections:

[code]

I have visualized the process in Matlab using C-style order.

[2021-03-20 22:31] lrknox commented on #458
Merged these changes to hdf5_1_10 (#465) in b42635ad

[2021-03-21 01:53] #458 closed, assigned to lrknox

[2021-03-21 01:54] #446 closed, assigned to lrknox

[2021-03-21 01:55] lrknox opened #486 "Merge changes from PRs #399, 423, 453, 457, 467, #502 to support branches."

[2021-03-21 01:58] lrknox opened #487 "Merge changes from PRs #469, 473, 474, 475, 476, 477 to support branches."
#469     af54fd5     12 files
 473      c6e4e53    (just the 3 clang configuration files)
 474      d836797   1 file
 475      35d6091   2 files
 476      00a4e41    1 file
 477      d0f8075     1 file

[2021-03-21 01:59] lrknox opened #488 "Merge changes from PRs #263, 405, 445, 478 to support branches."
#263 Purge the buffer used in type conversion.     1c8b3db    src/H5Tconv.c
#405 Fixed HDFFV-10480 (CVE-2018-11206)          dafc728     8 files changed
and HDFFV-11159 (CVE-2018-14033)
#445 Added description of the current HDF5          49a14f9    3 files changed
branches; added a draft of contribution policy.
#478 Fix CMake error message location.                  03864c6

[2021-03-21 03:06] lrknox commented on #486
#399     f6d919a2
#423     24c83cf7
#453     a78aae11  (not merged - already committed in PR #464)
#457     6f760f20
#467    748da20b  #467 changes were previously added to hdf5_1_12 in PR #464, new references not applicable to 1.10.
#502     695a4e4

[2021-03-21 03:11] lrknox commented on #486
PR #489 for merge to hdf5_1_12   merged 3/24   ddab4f2
PR #490 for merge to hdf5_1_10   merged 3/31   df75d35

[2021-03-23 23:38] DragonAxe opened #505 "CMake with Ninja generator warns that Ninja requires custom command byproducts to be explicit for H5Tinit.c"
When `H5Tinit.c` exists in the generated output directory, CMake generates rules which do not generate `H5Tinit.c` causing CMake >= 3.20.0 to issue a warning about policy CMP0058.

The policy warning I get is:
[code]
One possible solution to silence the error that I have found is to add a BYPRODUCTS parameter to the `add_custom_command` in `hdf5/src/CMakeLists.txt` which touches the `gen_SRCS.stam

[2021-03-24 13:03] epourmal commented on #468
Thank you for reporting! We are not aware of the issue. Would it be possible to reproduce the issue with a C program?

Thank you!
Elena

[2021-03-24 13:05] #408 closed, assigned to nobody

[2021-03-24 13:05] byrnHDF commented on #505
Thanks, we haven't updated to the latest CMake. This seems like a reasonable change, if that change works for you, please create a pull request and I will see it through. OR I can handle the pull request issues - if you prefer.
One question, we do something similar elsewhere, will those need the same type of change?

[2021-03-25 22:40] DragonAxe commented on #505
Hi @byrnHDF, I can go ahead and make a PR.
It's possible this type of change will need to be implemented in other locations, but H5Tinit.c was the only one that Ninja was complaining about when I CMake'd with the following parameters `cmake -G Ninja -DBUILD_SHARED_LIBS:BOOL=ON -DBUILD_STATIC_LIBS:BOOL=OFF`.

[2021-03-25 23:30] DragonAxe commented on #505
After further testing, I have discovered that I get `ninja: error: dependency cycle: src/H5Tinit.c -> src/H5Tinit.c` after the second CMake and Build (cmake; build; cmake; build -> fails).
This is due to `DEPENDS    ${HDF5_GENERATED_SOURCE_DIR}/H5Tinit.c` on line 1138. I'm investigating an alternative solution now.

[2021-03-26 03:14] DragonAxe commented on #505
Is there a use case for having different add_custom_command?
One for H5Tinit.c not existing which runs on the first CMake invocation.
And another for H5Tinit.c existing which happens when if CMake is run after building once.

[2021-03-31 16:37] #486 closed, assigned to lrknox

[2021-04-01 12:58] #386 closed, assigned to lrknox, epourmal, byrnHDF

[2021-04-01 13:02] byrnHDF opened #532 "Implement long double display in tools"
Display of long double types inconsistent in tools and tests needed.

- [x] develop #522
- [x] 1.12 #523
- [x] 1.10 #531
- [x] 1.8 #548

[2021-04-01 19:27] lrknox commented on #487
#491 Hdf5 merge issue 487 v112  merged 2021/3/26

#533 Merges to hdf5_1_10  merged 2021/4/1:
Merging changes from the following PRs. Changes are in the 6 files listed. Changes in the other 116 files result from the clang config changes for clang-format.

473 Update clang config c6e4e53
(just the 3 clang configuration files -.clang-format and bin/gormat_source*)
475 Cleans up a couple of MSVC warni

[2021-04-01 20:51] #487 closed, assigned to lrknox

[2021-04-02 11:09] lrknox commented on #488
PR #534 Hdf5 merge issue 488 v112 merged 2021-04-01
PR #535 Hdf5 merge issue 488 v110 merged 2021-04-02

[2021-04-02 11:09] #488 closed, assigned to lrknox

[2021-04-02 16:13] lrknox opened #537 "Merge changes from PRs #400, 414, 479, 480, 481, 483, 492, 493, 494, 495, 496 to support branches."
#400 More warning fixes                               580008d    22 files changed
#414 Changes found during merge to 1.12  fab95ce      85 files changed
#479 Align with "parallel fence" changes      3dbbd8a    13 files changed
#480 File locks now work on Windows          60e14b8      6 files changed
#481 small edits                                             98acb0a      2 files changed
#483 Adds

[2021-04-06 15:14] sergiorg-hpc opened #544 "Inconsistent behaviour with variable-length strings and character encoding"
We have diverse HDF5 files that are utilized in our scientific applications for different purposes. These files mix different kinds of datasets, like strings, arrays of floating point values, and more.

However, quite recently, a colleague detected an unexpected behaviour with one of the files. If the code was requesting a certain dataset with variable-length strings, an HDF5 error appeared and th

[2021-04-06 16:04] gheber commented on #544
Good catch! Here's a similar reproducer:

[code]
Running with one or more arguments, it returns
[code]
Otherwise, it bums out with
[code]

[2021-04-06 16:07] gheber commented on #544
The same (mis-)behavior is there in HDF5 v1.8.22.

[2021-04-07 21:54] gheber commented on #544
I think there is more going on here, but there's also a quick&dirty fix. The relevant conversion routine, in this case, is `H5T__conv_vlen` in `H5Tconv.c` (around line 3102 in the develop branch). Around line 3147 is this conditional:
[code]
The first problem is that the error never makes it onto the error stack. Stepping through the code in the debugger, I can see the error is raised, but it's no

[2021-04-08 08:32] sergiorg-hpc commented on #544
Thank you very much and good catch, @gheber. I can confirm that the small fix seems to work, but there is still a catch. According to the new if-statement, if I open an UTF8 string with ASCII memory type, it is supposed to always fail (i.e., the conversion from ASCII to UTF-8 makes sense, as you pointed out, but not the other way around). However, if you open first an ASCII string with ASCII memor

[2021-04-08 12:01] gheber commented on #544
Yes, the weird "memory effect" is still there.

[2021-04-09 21:30] michael-afanasiev opened #549 "Error reading large (> 2GB) datasets w/ MPI-IO"
Hi everyone,

[Here](https://www.hdfgroup.org/2018/04/why-should-i-care-about-the-hdf5-1-10-2-release/l) it seems as if dataset size constraints for MPI-IO driven data transfers have been mitigated via a derived-type solution within HDF5. I am, however, still having trouble reading contiguous arrays >= 2GB as of HDF5 1.12.0. I've tracked this errors down to the following line in `H5FD__mpio_read`:

[2021-04-13 21:03] gheber commented on #411
Done.

[2021-04-13 21:03] #411 closed, assigned to gheber

[2021-04-13 21:04] gheber commented on #410
Done.

[2021-04-13 21:04] #410 closed, assigned to gheber

[2021-04-13 21:04] gheber commented on #409
Done.

[2021-04-13 21:04] #409 closed, assigned to gheber

[2021-04-13 21:05] gheber commented on #130
Done.

[2021-04-13 21:05] #130 closed, assigned to gheber

[2021-04-14 12:54] byrnHDF opened #551 "Remove H5T_NATIVE_* printing in tools"
H5T_NATIVE_* datatypes are memory types. The tools, specifically h5dump and h5ls, should only describe file datatypes.

Rework tools to remove the display of memory types, and only use file datatypes.

[2021-04-19 12:03] byrnHDF commented on #532
- [ ] Also 1.8 #548

[2021-04-20 13:06] byrnHDF opened #556 "CMake advanced options for clang needs an OPTION command"

[2021-04-20 15:31] byrnHDF commented on #556
- [x] develop
- [x] 1.12
- [x] 1.10
- [x] 1.8

[2021-04-20 19:14] #532 closed, assigned to byrnHDF

[2021-04-20 19:20] byrnHDF commented on #505
I have checked CMake docs and BYPRODUCTS was new in version 3.2. The minimum is 3.12 for hdf5, so we can just use BYPRODUCTS. Of course we will need to test.

[2021-04-21 12:12] #556 closed, assigned to byrnHDF

[2021-04-21 17:09] seanm opened #566 "Something is still introspecting `sizeof (long double)` at compile time, breaking macOS Universal Binary builds"
Even after I made various fixes, I suspect something is still introspecting `sizeof (long double)` at compile time.

The problem occurs when I build HDF5 as a Universal Binary on macOS (that is, for both x86_64 and arm64 architectures).  On x86_64 `sizeof (long double)` is 16.  On arm64 it is 8.  If I build ***on*** and Intel Mac, then ***run*** the resulting library on a arm64 Mac, it fails at ru

[2021-04-21 18:17] seanm commented on #566
I made some progress.  `H5detect` creates a file `H5Tinit.c` and its contents differ based on build machine introspection.

[2021-04-21 19:21] byrnHDF commented on #505
I have reworked the whole section and will create a PR that addresses this issue. I will add a comment with the number when I create it.

[2021-04-21 22:13] byrnHDF commented on #505
See:
CMake changes to byproducts - ninja warnings #568

[2021-04-21 22:27] gheber commented on #544
A big thanks to my colleague @raylu-hdf, who gave me a quick `H5T`-tutorial of what's going on. Here is the short version (and all mistakes are mine):

The drama begins in `H5T.c` in `H5T__path_find_real` where the library tries to establish whether there is a viable conversion path. If it finds one, it runs with that. (This is actually what causes the "memory effect" because the character encodin

[2021-04-22 19:49] qkoziol commented on #566
Yes, that is its purpose. :-)

[2021-04-22 20:18] seanm commented on #566
Indeed. :)

So I guess there are two ideas:

1. Re-evalutate the whole idea of introspecting the build machine. Such introspection of course makes cross-compilation hard/impossible (and Universal Binaries are basically cross-compiling). Perhaps build-time introspection can be replaced with compile-time instead.

2. Detect that there are two architectures listed in `CMAKE_OSX_ARCHITECTURES` and cre

[2021-04-23 18:43] guitos opened #570 "out-of-bounds read and write in vg_replace_strmem.c"
Hi,

I'm from Red Hat Product Security and we received a CVE request to an issue in HDF5.

We asked the reporter to contact upstream for the CVE acknowledge before assigning a CVE but we didn't have any update from reporter since then.

The full bug report is already public and available here: https://github.com/winson2004aa/PAAFS/tree/master/vul1

Thanks.

[2021-04-23 21:44] epourmal commented on #570
Thank you for reporting!

We will add this issue to our list of CVEs we have been working on.

Elena

On Apr 23, 2021, at 1:43 PM, Guilherme de Almeida Suckevicz ***@***.***> wrote:

﻿

Hi,

I'm from Red Hat Product Security and we received a CVE request to an issue in HDF5.

We asked the reporter to contact upstream for the CVE acknowledge before assigning a CVE but we didn't have any update from

[2021-04-25 00:42] NigelX opened #572 "heap-buffer-overflow of h5debug in H5Fint.c in function H5F_addr_decode_len"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]
3.run h5debug
[code]

[poc.zip](https://github.com/HDFGroup/hdf5/files/6370987/1.h5debug_H5F_addr_decode_len_poc.zip)

asan info
[code]
Fedora 33
[code]

[2021-04-25 00:52] NigelX opened #573 "Null pointer of h5debug of H5Fquery.c in function H5F_get_nrefs"
Hi
I found an crash error.
System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

-----------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]
3.run h5debug
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6370992/h5debug_Null_pointer.zip)

asan info
[code]
Fedora 33
[code]
Thanks

[2021-04-25 00:55] NigelX opened #574 "overflow of h5debug of H5MM.c in function H5MM_memcpy"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]
3.run h5debug
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6370994/3.overflow.zip)

asan info
[code]

Fedora 33
[code]
Thanks

[2021-04-25 00:58] NigelX opened #575 "heap-buffer-overflow of h5debug of H5Cimage.c in function H5C__decode_cache_image_header"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]
3.run h5debug
[code]

[poc.zip](https://github.com/HDFGroup/hdf5/files/6370999/4.h5debug_H5C__decode_cache_image_header_poc.zip)

asan info
[code]

Fedora

[2021-04-25 01:08] NigelX opened #576 "crash of h5debug of H5MM.c in function H5MM_malloc"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run h5debug
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371005/5.h5debug_crash.zip)

asan info
[code]

Fedora 33
[code]
Thanks

[2021-04-25 01:16] NigelX opened #577 "heap-buffer-overflow of h5debug of H5Ocache_image.c in function H5O__mdci_decode"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]
3.run h5debug
[code]

[poc.zip](https://github.com/HDFGroup/hdf5/files/6371017/6.heap-buffer-overflow_.H5O__mdci_decode_poc.zip)

asan info
[code]

Fedora

[2021-04-25 01:25] NigelX opened #578 "crash of h5dump of H5Dchunk.c in function H5D__chunk_set_info_real"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run h5dump
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371032/1.h5dump_crash_poc.zip)

asan info
[code]

Fedora 33
[code]
Thanks

[2021-04-25 01:27] NigelX opened #579 "crash of h5dump of H5Lexternal.c in function H5L__extern_query"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run h5dump
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371035/2.h5dump_H5L__extern_query_poc.zip)

asan info
[code]

Fedora 33
[code]
Than

[2021-04-25 01:30] NigelX opened #580 "crash of h5dump of H5MM.c in function H5MM_memcpy"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run h5dump
[code]

[poc.zip](https://github.com/HDFGroup/hdf5/files/6371039/3.h5dump_H5MM_memcpy_poc.zip)

asan info
[code]

Fedora 33
[code]

Thanks

[2021-04-25 01:33] NigelX opened #581 "crash of h5dump of H5Olink.c in function H5O__link_reset"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run h5dump
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371044/4.h5dump_H5O__link_reset_poc.zip)

asan info
[code]

Fedora 33
[code]
Thanks

[2021-04-25 01:36] NigelX opened #582 "stack-overflow of h5dump of H5Oint.c in function H5O_protect"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run h5dump
[code]

[poc.zip](https://github.com/HDFGroup/hdf5/files/6371045/5.h5dump_H5O_protect_poc.zip)

asan info
[code]

Fedora 33
[code]
Thanks

[2021-04-25 01:38] NigelX opened #583 "crash of h5dump of H5Dchunk.c in function H5D__chunk_set_sizes"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run h5dump
[code]

[poc.zip](https://github.com/HDFGroup/hdf5/files/6371049/6.h5dump_H5D__chunk_set_sizes_poc.zip)

asan info
[code]

Fedora 33
[code]

[2021-04-25 01:40] NigelX opened #584 "crash of h5dump of H5Faccum.c in function H5F__accum_read"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run h5dump
[code]

[poc.zip](https://github.com/HDFGroup/hdf5/files/6371051/7.h5dump_H5F__accum_read_poc.zip)

asan info
[code]

Fedora 33
[code]
Thank

[2021-04-25 01:43] NigelX opened #585 "Crash of h5dump of H5Oshared.c in function H5O__shared_read"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run h5dump
[code]

[poc.zip](https://github.com/HDFGroup/hdf5/files/6371055/8.h5dump_.H5O__shared_read_poc.zip)

asan info
[code]

Fedora 33
[code]
Tha

[2021-04-25 01:47] NigelX opened #586 "Crash of h5dump of H5Fio.c in function H5F_block_read"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run h5dump
[code]

[poc.zip](https://github.com/HDFGroup/hdf5/files/6371057/9.h5dump_.H5F_block_read_poc.zip)

asan info
[code]

Fedora 33
[code]
Thank

[2021-04-25 01:52] NigelX opened #587 "Crash of gif2h5 of H5Fquery.c in function H5F_get_nrefs"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run gif2h5
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371062/1.gif2h5_H5F_get_nrefs_poc.zip)

asan info
[code]
Fedora 33
[code]
Thanks

[2021-04-25 01:54] NigelX opened #588 "heap-buffer-overflow of gif2h5 of gifread.c in function ReadGifImageDesc"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run gif2h5
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371067/2.gif2h5_ReadGifImageDesc_poc.zip)

asan info:
[code]
Fedora 33
[code]
Thank

[2021-04-25 01:55] NigelX opened #589 "heap-buffer-overflow of gif2h5 of decompress.c in function ReadCode"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run gif2h5
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371076/3.gif2h5_ReadCode_poc.zip)

asan info
[code]

Fedora 33
[code]
Thanks

[2021-04-25 01:57] NigelX opened #590 "heap-buffer-overflow of gif2h5 of decompress.c in function Decompress"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run gif2h5
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371080/4.gif2h5_Decompress_poc.zip)

asan info:
[code]
Fedora 33
[code]
Thanks

[2021-04-25 01:59] NigelX opened #591 "heap-buffer-overflow of gif2h5 of gif2mem.c in function Gif2Mem"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run gif2h5
[code]

[poc.zip](https://github.com/HDFGroup/hdf5/files/6371082/5.gif2h5_Gif2Mem_poc.zip)

asan info:
[code]
Fedora 33
[code]
Thanks

[2021-04-25 02:02] NigelX opened #592 "Null pointer of gif2h5 of writehdf.c in function WriteHDF"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run gif2h5
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371086/6.gif2h5_WriteHDF_poc.zip)

asan info
[code]

Fedora 33
[code]
Thanks

[2021-04-25 02:04] NigelX opened #593 "heap-buffer-overflow of gif2h5 of gifread.c in function ReadDataSubBlocks"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run gif2h5
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371093/7.gif2h5_ReadDataSubBlocks_poc.zip)

asan info
[code]

Fedora 33
[code]

Tha

[2021-04-25 02:08] NigelX opened #594 "heap-buffer-overflow of gif2h5 of gifread.c in function ReadGifApplication"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run gif2h5
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371097/8.gif2h5_ReadGifApplication_poc.zip)

asan info
[code]

Fedora 33
[code]
Tha

[2021-04-25 02:10] NigelX opened #595 "Crash of gif2h5 of decompress.c in function Decompress"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run gif2h5
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371102/9.gif2h5_Decompress_poc.zip)

asan info
[code]

Fedora 33
[code]
Thanks

[2021-04-25 02:12] NigelX opened #596 "heap-buffer-overflow of gif2h5 of gifread.c in function ReadGifPlainText"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]

3.run gif2h5
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371104/10.gif2h5_ReadGifPlainText_poc.zip)

asan info
[code]
Fedora 33
[code]
Thank

[2021-04-25 02:34] NigelX opened #597 "heap-buffer-overflow of h5deug of H5Ofsinfo.c in H5O__fsinfo_decode"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

hdf5 version 1.13.0 ,git branch development

------------------------------------------
Verification steps：
1.Get the source code of hdf5
2.Compile the hdf5
[code]
3.run h5debug
[code]
[poc.zip](https://github.com/HDFGroup/hdf5/files/6371133/7.h5debug_H5O__fsinfo_decode_poc.zip)

asan info:
[code]
Thanks

[2021-04-27 22:58] seanm commented on #566
Is `H5detect` the only thing that introspects the building machine?

As a test, I modified `H5Tinit.c` by hand to have the `#if / #elif` as above, and now everything seems to be finally working for me as a Universal Binary. So this at least seems to be my last problem!

[2021-04-28 08:56] a-ma72 opened #603 "CMake error on generate: "Cannot find source file hdf5/src/H5Epubgen.h""
Hello,

I try to build HDF5 libraries with CMake 3.19.4 on Win10 64bit, MinGW (TDM-GCC).
Set HDF5_GENERATE_HEADERS OFF, since I have not perl installed.
Configuring works fine, but am not able to generate, due to this error:

[code]

Any tips?

Regards, Andreas

[2021-04-30 19:11] byrnHDF commented on #603
The development branches need to generate some source files using perl. These files are provided in the release branches.

[2021-04-30 22:00] qkoziol commented on #566
Sorry for the delay, this has been a tough week.  :-/

H5detect is indeed the only introspection tool that HDF5 runs.  We do support cross-compiling on other systems, usually by running H5detect by hand and then including the generated H5Tinit.c in the build.  I definitely would like to avoid putting #ifdef's into H5Tinit.c, so we should explore something else, like how the introspection is perfor

[2021-05-01 05:34] #603 closed, assigned to nobody

[2021-05-03 18:33] seanm commented on #566
That's essentially what I've done for the moment. Except in the case of Universal Binaries, it's not one H5Tinit.c file but two.  I basically took the two of them, and pasted them together into one file with this structure:

[code]

(The files are identical except for the `long double` parts.)

OK, good. And indeed I haven't found any other issues after hacking past H5Tinit.c.

Did you mean 'run-t

[2021-05-07 20:42] emmenlau commented on #272
May be related? https://github.com/HDFGroup/hdf5/issues/309

[2021-05-07 22:18] qkoziol opened #634 "Merge readers-writer lock to develop"
I'd like to merge the readers-writer lock to the develop branch, as part of working with Lee Ward on improving the library's threadsafe concurrency.  I'm planning to update the change that was committed to the 1.12 branch, and submit a PR for it.   Any feedback before I start on this?

[2021-05-08 00:34] epourmal commented on #634
Quincey,

We didn't reach an agreement on the approach how to make HDF5 multi-threaded. As you know, we do plan to discuss our concerns and different approach in less than two weeks.

It would be very beneficial if we finish the work on the HDF5 1.13.0 release and HDF5 VOL connectors first.

Thank you!

Elena on behalf of The HDF Group developers.

[2021-05-08 12:47] kalvdans opened #635 "File descriptor leak in core VFD file open call"
Found by manual inspection of code, see
https://github.com/HDFGroup/hdf5/commit/c2a9dcb8977f81ff8e66bfd41c72f106993d3086#r50505954

[2021-05-09 02:28] qkoziol commented on #634
This is a community contribution and is not connected with any HDF5 work I might be working on during 'company time'.  I am submitting an issue for it as per the 'How to contribute to HDF5' guidelines and workflow.

And, yes, I am aware of the current planning effort - porting this code to the develop branch is intended as a help for that effort.

Please let me know if I should proceed with submit

[2021-05-09 02:34] epourmal commented on #634
I suggest you wait until we agree that this is the direction we will be pursuing.

On May 8, 2021, at 9:28 PM, Quincey Koziol ***@***.***> wrote:

﻿

This is a community contribution and is not connected with any HDF5 work I might be working on during 'company time'. I am submitting an issue for it as per the 'How to contribute to HDF5' guidelines and workflow.

And, yes, I am aware of the current

[2021-05-10 06:48] JackBoosY opened #636 "Custom command execution failed when building x86-windows"
Hi guys,
I'm vcpkg maintainer.
A few months ago we received an issue about building hdf5 (https://github.com/microsoft/vcpkg/issues/16203), and users reported to us that there was an error when building hdf5::x86-windows using vcpkg:
[code]
After a period of investigation, I think this is caused by the use of `add_custom_command` to call scripts or commands, but it did not report any error message

[2021-05-10 12:53] byrnHDF commented on #636
We just made some changes in that CMake code for the ninja build system. Please try the latest development code from either develop or the 1_12 branch.

[2021-05-11 08:10] huntr-helper opened #639 "🚨 Potential Heap-based Buffer Overflow"
👋 Hello, @qkoziol, @byrnHDF, @derobins - a potential medium severity Heap-based Buffer Overflow vulnerability in your repository has been disclosed to us.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/1-other-HDFGroup/hdf5** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for more assistance.

3️⃣ Propose a patch or outsourc

[2021-05-15 00:40] lrknox opened #642 "Merge changes from PRs #625, 627, 628, 632, 633, 637, and 640 to support branches"
#625  Fix H5Eget_auto2/H5Eauto_is_v2 to not clear error stack                 2 files changed  78f0728
#627  Cleanup tools debug build warnings                                                8 files changed  333a79c
#628  h5diff subset indexing                                                                       2 files changed  6955329
#632  Removes gratuitous (double)x.yF casts

[2021-05-17 16:08] brianjmurrell opened #650 "error: format not a string literal and no format arguments [-Werror=format-security]"
Trying to build hdf5-1_13_0-rc5 on EL8 I am getting two errors:

[code]

and

[code]

Is this known and fixed in some other branch?

[2021-05-17 16:36] brianjmurrell commented on #650
FWIW, I created this patch to work around it:

[code]

But it looks like there is another:

[code]

fixed similarly.

[2021-05-18 16:54] lrknox opened #659 "Test failures for H5DIFF-h5diff_830 and MPI_TEST_H5DIFF-h5diff_830"
1. test always fails with parallel enabled, won't work with parallel and should run only if parallel is not enabled.
2. 17 of 140 H5DIFF-h5diff_830 tests failed in HDF5112 tests and 7 of 25 in HDF5 develop branch tests on 5/18.  Failures were on macOS (bear and bigsur-1), ubuntu, and kituo (centos7).  "No such file or directory" was a frequently occurring message in the failed test output.

Test w

[2021-05-20 03:06] JackBoosY commented on #636
@byrnHDF When we publish the new method to a release?

[2021-05-20 20:59] MarDiehl opened #669 "pkg-config: files without version"
Building HDF5 with CMake generates files for pkg-config (see https://github.com/HDFGroup/hdf5/issues/8). The current use of these files provided by HDF5 is rather limited because the file names contain the version (e.g. `hdf5-1.12.0.pc`). That means that anyone _searching_ for a library needs to know already the precise version that is installed.
It would be more convenient (and following the de-f

[2021-05-21 13:19] byrnHDF commented on #669
Unfortunately, this may not make it into the 1.12.1 release, but definitely needs to go into the development branches.

[2021-05-21 14:02] lrknox opened #673 "flushrefresh test has segmentation faults with make check-passthrough-vol in HDF5 1.12.1"
These occur in both hdf5_1_12 and the release branch for the 1.12.1 release.  Manual test runs with HDF5_VOL_CONNECTOR="pass_through under_vol=0;under_info={}" have segmentation faults for flushrefresh commands with CommittedDatatypes in the command parameters.  The segmentation faults do not happen except when running either "make check-passthrough-vol" or manually with the HDF5_VOL_CONNECTOR env

[2021-05-21 18:42] MarDiehl commented on #669
great, many thanks! I just wanted to ask whether I should implement this.

[2021-05-25 13:44] byrnHDF commented on #669
We did get this into the 1.12.1 release and will also be in all the development branches.

[2021-05-26 21:56] qkoziol opened #688 "Add doxygen info for H5S_ALL, H5S_BLOCK, and H5S_PLIST"
per subject

[2021-05-27 15:07] dschwoerer opened #695 "linking issues if parallel (MPI) and serial version are present"
I have a library `A` that requires hdf5. It only needs the serial version.
However, it also links with `B` that is linked with the parallel version, as it uses some of the parallel symbols.
While linking, I link like `-lhdf5 -lB`, which returns without errors, as all symbols in `A` are satisfied, but fails later at run time, because `B` has undefined symbols, as the serial version of `hdf5` is lin

[2021-06-02 20:53] a-ma72 opened #714 "Unresolved links when using ZLIB"
I built the HDF5 (1.12.0) static library and use it with success.
Since I activated the GZIP (ZLIB) support I get different issues for two different compilers:

1. MSVC 2015 (Win10, 64bit)
The function `H5Dvlen_reclaim` no longer exists: `error C3861: "H5Dvlen_reclaim": identifier not found`
(But compression works fine)

2. TDM GCC 9.2 (Win10, 64bit)
References to ZLIB remain unresolved: `hdf5/src

[2021-06-03 21:25] lrknox commented on #642
Merged #632, 633, 637 and 640 to hdf5_1_10.
#625 caused err_compat test to fail and was not merged.
#627 seems to have been previously merged.
#628 changes seemed incompatible with hdf5_1_10 and were not merged.

[2021-06-03 21:37] qkoziol commented on #349
This is used in the H5FDmodule.h header's macros

[2021-06-03 21:47] jhendersonHDF commented on #349
I initially thought this issue might be related because the previously-linked PR does clean up some warnings related to unused H5FD package variables and undefined H5FD routines, but it seems this is separate from that.

[2021-06-04 15:37] qkoziol commented on #634
I'm going to pick this up and get started on it again.

[2021-06-04 15:39] qkoziol commented on #634
I'm planning to create a PR that brings the lock that John created to the develop branch and uses it for the threadsafe FUNC_ENTER/LEAVE macros, as a baseline for future work in converting H5Dread to be threadsafe (beginning with the limited "no datatype conversion, contiguous layout only, ..." path).

[2021-06-05 15:23] lrknox opened #729 "syntax in hl/c++/src/H5PacketTable.h causes PGI failures compiling ptExampleFL.cpp"
line 36 of hl/c++/src/H5PacketTable.h:
   PacketTable() : table_id{H5I_INVALID_HID}
should be?
   PacketTable() : table_id(H5I_INVALID_HID)

to fix these errors:
/scr/hdftest/snapshots-hdf5/TestDir/jelly/hdf5/bin/h5c++   -o ptExampleFL /home/hdftest/snapshots-hdf5/current/hl/c++/examples/ptExampleFL.cpp
"/scr/hdftest/snapshots-hdf5/TestDir/jelly/hdf5/include/H5PacketTable.h", line
          37: er

[2021-06-06 11:44] risicle commented on #310
CVE-2020-10810: https://github.com/HDFGroup/hdf5/commit/267ff9065ba9f42fec05cdcae0caa90536a04392 ?

[2021-06-06 11:49] risicle commented on #310
CVE-2020-10811: Included in https://github.com/HDFGroup/hdf5/commit/dafc7285bb1df4a6529a64c215c5de4017016d24 ? Claimed to be the same issue as CVE-2018-14033

[2021-06-06 21:45] rainwoodman opened #732 "Potential undefined behavior."
https://github.com/HDFGroup/hdf5/blob/9ebe55b34c4d45db6b47d6cd0ee01efa20d0c31d/src/H5Gcompact.c#L141

[2021-06-06 21:46] rainwoodman commented on #732
One of our fuzzer run found that using malloc here can potentially trigger undefined behavior. Switching to H5MM_calloc fixes this.

[2021-06-08 14:59] byrnHDF commented on #669
Implemented.

[2021-06-08 14:59] #669 closed, assigned to byrnHDF

[2021-06-11 12:36] epourmal commented on #634
Hi Quincey,

Sure.

Have you resolved with Dana portability to Windows?

Thank you!

[2021-06-11 13:02] derobins commented on #634
John's lock changes were not ported to Windows, but I reorganized the code so it would be straightforward to do so. As long as any changes use our H5TS types and functions instead of pthreads directly, we should be able to eventually port the new thread-safe code to Windows.

[2021-06-14 16:25] frankwillmore opened #750 "Configure process will not complete with oneapi C compiler due to use of unsupported flag"
The configure process was observed to fail because of the unsupported warning flag -Wcheck:

[code]

excerpt of config.log:
[code]

Removing the flag will allow the configuration, installation, and testing to complete, but does not address the underlying check in configure.

[2021-06-14 16:33] frankwillmore commented on #750
see https://github.com/HDFGroup/hdf5/pull/751

[2021-06-14 18:49] byrnHDF commented on #750
So we will need to do multiple things - remove the -Wcheck from general and put it in a "version 19 and under" file. Then add the appropriate checks and load in the intel-(cxx|f)flags file for autotools and the cmake/HDF5Compiler files.

[2021-06-14 19:37] epourmal commented on #750
@frankwillmore we will be looking into the issues. Thank you for reporting!

[2021-06-15 03:51] ax3l opened #754 "How to really use backwards compatibility macros?"
Hi,

I am trying to build backwards compatible changes upon breaking APIs in 1.12.0.
I read the pages on http://develop.hdf5.info/api-compat-macros.html, which guide to `For new code development, The HDF Group recommends use of the compatibility macro mapped to the latest version of the function.`

So for a breaking change in `H5Oget_info` I implemented:
[code]
https://github.com/openPMD/openPMD-a

[2021-06-15 12:52] byrnHDF commented on #754
The compatibility macro can be confusing and complicated - there are two use cases;  for those building the library and those building against the library. I believe you are concerned with the second. We have some tests that we will pull out some examples and post here as soon as we can.

[2021-06-15 12:53] byrnHDF commented on #750
We have some fixes for this and some other flags issues in process.

[2021-06-15 14:34] byrnHDF commented on #750
Develop updated with file changes for flags and will be merged down to other dev branches.

[2021-06-15 14:34] #750 closed, assigned to nobody

[2021-06-15 16:07] byrnHDF commented on #754
I think one solution in your usage would be to change the following from:
#if H5_VERSION_GE(1,12,0)
    status = H5Oget_info(node_id, &object_info, H5O_INFO_NUM_ATTRS);  // that's the compatibility macro
to
#if H5_VERSION_GE(1,12,0)
    status = H5Oget_info2(node_id, &object_info, H5O_INFO_NUM_ATTRS);  // use the 1.12 API

[2021-06-15 16:14] frankwillmore commented on #750
@byrnHDF thanks for turning this around so quickly. Will this be available in a forthcoming release of 1.10? Asking because E4S is based on release versions.

[2021-06-15 16:46] byrnHDF commented on #750
I believe 1.10.8 is scheduled for release soon after 1.12.1. (1.12.1 should be released within a week).

[2021-06-15 17:32] ax3l commented on #754
Thanks a lot for your help. Yes, I am the developer building against HDF5 :) It looks to me like the docs on compatibility macros are currently more geared towards those building the library.

Yes I was wondering this might be what I should be doing, but cannot find an explicit example on it in the docs:
[code]
(I think there might be no `H5Oget_info2` function and got a compile error if I don't a

[2021-06-23 10:58] gheber opened #788 "CTest Doxygen warnings"
Allen I ran across these doxygen warnings on my machine, fedora 34 with gcc 11.

[code]

[2021-07-01 21:36] scivision opened #818 "1.10.7: parallel MPI: CMake: failed to compile ph5diff"
HDF5 builds with MPI almost completely except for `ph5diff`, on CentOS 8 with either GCC 8.5 or Intel oneAPI 2021.3.

One change I made is adding the line to "src/HDF5/tools/src/h5diff/ph5diff_main.c":

[code]

Which fixes missing MPI_COMM_WORLD errors.

However I am left with linker error:

[code]

command line on CentOS 8 machine is below.
The `-Wl,-rpath,"\$ORIGIN/../lib:\$ORIGIN/"` seems to no

[2021-07-06 22:20] jhaiduce opened #824 "h5fget_name_f: No way to obtain filename length from Fortran"
The documentation of [h5fget_name](https://support.hdfgroup.org/HDF5/doc/RM/RM_H5F.html#File-GetName) says: "If the length of the name, which determines the required value of size, is unknown, a preliminary H5Fget_name call can be made by setting name to NULL. The return value of this call will be the size of the filename; that value plus one (1) can then be assigned to size for a second H5Fget_na

[2021-07-06 22:30] jhaiduce opened #825 "Undefined/unexpected behavior when passing a freshly allocated buffer or whitespace to h5fget_name_f"
h5fget_name_f calls len_trim() on its output buffer to obtain the length. This causes the output buffer to be read, resulting in the following problems:

- If the buffer is filled with whitespace, h5fget_name_f treats it as though the buffer had a length of zero. In my tests this resulted in an "Invalid write" error from Valgrind, so this is apparently triggering an array out of bounds error someh

[2021-07-08 10:15] schooft opened #827 "Memory leak in H5LTopen_file_image with H5LT_FILE_IMAGE_DONT_COPY"
I observe the following relevant steps:

In `H5LTopen_file_image`:
1. `udata` is allocated
2. `ref_count` and `vfd_ref_count` are set to 1 and 0, respectively.
3. `udata_copy` is called, incrementing `ref_count` to 2.
4. `image_malloc` is called with `H5FD_FILE_IMAGE_OP_FILE_OPEN`, incrementing `vfd_ref_count` to 1.
5. `udata_free` is called, decrementing `ref_count` to 1, not freeing `udatata` be

[2021-07-14 05:15] jwsblokland opened #833 "HDF5 1.12.1: Unable to compile the parallel version using CMake"
Hello,

The other day I tried to compile the parallel version of the released HDF5 library 1.12.1 using CMake on Linux. Unfortunately, I got a strange CMake error from FindMPI.cmake about could not find MPI_C. Here is the CMake command I have used

      CC=gcc FC=gfortran CXX=g++ cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./phdf5 -DHDF5_ENABLE_PARALLEL=ON ../sourc

[2021-07-14 12:18] byrnHDF commented on #833
The C++ libraries are no longer enabled by default and therefore CMake could not reconcile your CXX=g++ option when looking for MPI compilers.

[2021-07-14 13:49] jwsblokland commented on #833
Ok. I have tried the following CMake command:

    CC=gcc cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./phdf5 -DHDF5_ENABLE_PARALLEL=ON  -DHDF5_BUILD_CPP_LIB=OFF -DHDF5_BUILD_FORTRAN=OFF -DHDF5_ENABLE_THREADSAFE=OFF ../source

Unfortunately, I still got the same CMake Error.

[2021-07-14 14:05] byrnHDF commented on #833
I haven't tried just using CC=gcc. I either leave it unset and use the CMake detected compiler or set CC=mpicc, the mpi compiler wrapper

[2021-07-14 14:07] byrnHDF commented on #833
Also, when I use CC=mpicc, I add the following CMake command line define - MPI_C_COMPILER=mpicc

[2021-07-14 14:53] jwsblokland commented on #833
Yes, that works. This will mean that everything will be built using the MPI compiler. Even targets which supposed to be compiled with only gcc **without** any MPI flags. I do not know if there are such targets in your build. If not, then using mpicc is a nice workaround for the problem. Furthermore, it may be worthwhile to mention this somewhere in the release note because it is different compared

[2021-07-14 16:04] byrnHDF commented on #833
You could try just the define MPI_C_COMPILER=mpicc?

[2021-07-14 20:28] lrknox opened #839 "merge changes since issue #642 to support branches"
Merges needed to hdf5_1_10 and hdf5_1_12.
Details  to come from spreadsheet

[2021-07-15 06:09] jwsblokland commented on #833
I have tried the all of the following options

    CC=gcc cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./phdf5 -DHDF5_ENABLE_PARALLEL=ON  -DHDF5_BUILD_CPP_LIB=OFF -DHDF5_BUILD_FORTRAN=OFF -DHDF5_ENABLE_THREADSAFE=OFF ../source

    CC=gcc MPI_C_COMPILER=mpicc cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./phdf5 -DHDF5_ENABLE_PARALLEL=ON

[2021-07-15 12:19] byrnHDF commented on #833
Thanks! Very useful information. Interesting that the key seems to be CC=mpicc.
The new try_run that was moved into ConfigureChecks is the first "run" check and must set some CMake internal variable.

[2021-07-15 21:33] lrknox commented on #839
Develop branch PRs cherry-picked to hdf5_1_10 in Round 1 (PR #841 ):

143        Segmentation fault when using a compound type                                                                             bf0cbcb
144        H5Z_xform_create function and scientific notation                                                                             82c0cb1
623        Adds const to a few global variab

[2021-07-19 07:07] jwsblokland commented on #833
I have found the problem. In line 286 of the file ConfigureChecks.cmake

    set (${RUN_RESULT_VAR} 1 CACHE INTERNAL "Have C function ${FUNCTION_NAME}")

says you want to store the value 1 in the variable of the value of RUN_RESULT_VAR. This looks like a mistake to me. I think what you want to do is the following

    set (RUN_RESULT_VAR 1 CACHE INTERNAL "Have C function ${FUNCTION_NAME}")

Using

[2021-07-19 12:23] byrnHDF commented on #833
Yes I believe you have found the problem, this error was hidden until now in the Fortran configure.
Interestingly, the result is ignored in the call. I think the intent was to return the result in the RETURN_VAR, so your last solution is correct.
Looks like the source has changed a bit, so I will submit a PR to develop.

Allen

[2021-07-19 13:20] byrnHDF commented on #833
See PR #843

[2021-07-19 13:54] jwsblokland commented on #833
Thanks. One question. How will this bug fix be distributed? I mean are you going to update the 1.12.1 release, create 1.12.2 release or some other method?

[2021-07-19 14:14] byrnHDF commented on #833
We will include it in releases going forward. Given that CC=mpicc works correctly, I don't see a need for a patch. The end result is that the mpi compiler will be found and used for all compiles.

[2021-07-20 11:36] cwiede opened #844 "[Feature Request] Compression of vlen data"
Personally I would love to see the option to compress variable length data in hdf5 just as other types of data.

It is pretty much counter-intuitive that gzipping the whole file leads to a compression factor of around 2, but enabling the gzip compression in hdf5 doesn't change the size at all.

[2021-07-21 17:27] m-nsor opened #846 "set HDF5_DIR to the hdf5 installation directory on mac"
CMake Error at cmake/thirdparty/SetupGeosxThirdParty.cmake:131 (message):
set HDF5_DIR to the hdf5 installation directory.

[2021-07-23 05:56] #846 closed, assigned to nobody

[2021-07-24 12:35] lrknox commented on #839
Develop branch PRs cherry-picked to hdf5_1_10 in Round 2

699  Fix H5FD_mpio_Debug="rw" can report MPI_count instead of bytes  4454fca
700  Removes pre-C99 build and header cruft  e60ac6e
702  Clean up type size checks in configure.ac  4ef33ef
708  Removes some DEC Alpha cruft from H5detect and H5private.h  5e4625c
719  Updates bin/trace script to correctly wrap H5TRACE macros near clang-format co

[2021-07-26 17:50] lrknox opened #854 "H5LT files need rework to eliminate warnings with clang compiler"
Joe Lee added this line to hl/src/H5LTanalyse.c (line 1950):

                                        __attribute__((fallthrough));

It fails with MSVC, and the change needs to be made in non-generated H5LT files.

[2021-07-29 11:23] ghost opened #864 "Developer Version 1.13 for macOS ???"
Hello together,
how can I find the developer-version 1.13 for macOS or comes this later out?
I ask you, because I work on MAC every time and It is helpful to test this release on MAC for me too....

best regards

Matthias

[2021-07-29 13:59] Dr-Electron opened #865 "Wrong Attribute size in HL image creation?"
For example, when I create an image with `H5IMmake_image_8bit`, the CLASS attribute is created with size 6, although it should be 5 according to the specification.
Do I understand something wrong here?
So when I create attributes in C, should their length be strlen+1 as in the [HL library](https://github.com/HDFGroup/hdf5/blob/9bb1d6d78e305e73b5c882e8f5b3ef66a1acdf8d/hl/src/H5LT.c#L3559) or just s

[2021-07-29 19:39] ryanlong1004 opened #867 "unexpected argument '1000000'"
Running the HPC-stack build from repo https://github.com/NOAA-EMC/hpc-stack

When the script executes the 'configure' command, I can't get around error

expr: syntax error: unexpected argument '1000000'

See attached screenshot and environment.

[environment.txt](https://github.com/HDFGroup/hdf5/files/6903206/environment.txt)
![2021-07-29 15_29_42-Window](https://user-images.githubusercontent.com/

[2021-08-10 13:32] gheber opened #886 "Support data transformation w/ parallel compression"
This scenario is currently not supported, and creates an error such as this:
[code]
It's difficult to understand why and how a data transformation would complicate the current implementation. See [this thread](https://forum.hdfgroup.org/t/phdf5-1-12-data-transform-in-combination-with-compression-filter/8799) on the forum.

This issue was raised by Jan-Willem Blokland.

[2021-08-12 21:55] yarikoptic opened #905 "--vfd=ros3: Support following redirects && || pre-signed S3 http urls"
Trying

[code]

wherever that URL is redirecting to a pre-signed (for content-disposition field etc) URL on s3, which `h5ls` also cannot handle

[code]

although it happily access that last one directly:

[code]

<details><summary>
and even with versionId (nice, although didn't test if it just ignores it or really gets that version ;)):
</summary>

[code]

</details>

[code]

[2021-08-13 18:47] seanm commented on #566
@qkoziol any thoughts over the months how to deal with this?

[2021-08-17 02:10] jaried opened #910 "How can I improve the performance of HDF5 reading data?"
I use `python` to read HDF5 data.

I need to read HDF5 data 60 times faster like MySQL with indexes.

I use the code `df = store.df.date.drop_duplicates()` to retrieve. This line of code takes `6 seconds`. However, if I use mysql and save the same data to mysql, I use mysql for the date column After `indexing`, using sql:`select distinct date from table`, it only takes `80ms` to retrieve the uniqu

[2021-08-17 10:53] woutdenolf opened #911 "Branch logic"
Could someone explain what the branch logic is of this repo? `1.10/master`, `hdf5_1_10`, `hdf5_1_10_7`, `master`, `develop`, ...

[2021-08-17 12:39] epourmal commented on #911
Please see https://github.com/HDFGroup/hdf5/blob/develop/doc/branches-explained.md

Master should be ignored at this time.

[2021-08-17 21:38] #867 closed, assigned to nobody

[2021-08-17 21:38] ryanlong1004 commented on #867
Resolved.

[2021-08-18 07:20] woutdenolf commented on #911
Perfect, thanks!

[2021-08-18 07:24] #911 closed, assigned to nobody

[2021-08-18 14:42] lrknox opened #924 "The ${HDF5_CXXLINKER} does not work in h5c++"
Reported in pull request #775 by @WaldonChen, along with fix in line 96 to correct HDF5_CLINKER to HDF5_CXXLINKER.

PR #775 was submitted against 1.12/master branch, but needs to go to develop, then to hdf5_1_12 and hdf5_1_10 to appear in upcoming  releases.

[2021-08-19 13:13] byrnHDF opened #937 "Consistent use of qualifiers - use uppercase"
There has been PRs created that change the qualifiers on numbers.
i.e.  1.0f to 1.0F

We should be consistent in our usage, the proposal is to use uppercase.

[2021-08-19 21:01] #924 closed, assigned to nobody

[2021-08-19 21:02] lrknox commented on #924
merged to develop, hdf5_1_12, hdf5_1_10 and hdf5_1_8

[2021-08-20 14:42] jwsblokland commented on #833
Allen, I think we can close this issue or is there a special reason to keep it open?

[2021-08-20 17:40] byrnHDF commented on #833
@jwsblokland  - Just waiting for you to verify.

[2021-08-20 17:40] #833 closed, assigned to nobody

[2021-08-24 16:32] BtbN commented on #280
I just ran into this myself, and the issue really is libtool/configure horribly misdetecting flang.

To manually fix it, open the generated libtool script (right next to the configure script) after you ran configure.

First, search for `CC="clang++"` and take note of the values it found there.
Then search for `CC="flang"` and see that it found nothing/nonsense for the same values. Write in the sam

[2021-08-27 06:03] besoft opened #969 "CMake Error at config/cmake/ConfigureChecks.cmake:312 (file)"
CMake GUI 3.21.1 on Windows x64 with Visual Studio 16 2019 as a generator fails to configure.

The code FILE* pFile = fopen returns null, which results in TRY_RUN  failure. This can be solved by running CMake GUI runs with admin rights. However, for some reason, the file is then unavailable for reading by CMAKE line 312:

[code]
My solution for the issue is to
1. modify the macro C_RUN in config/c

[2021-08-27 15:04] philrosenberg opened #970 "File open error on Windows with onedrive"
I've been having what at first sight seemed like random write fails with my files. But in the end I tracked them down to a very specific scenario.

I am working in Windows and essentially the bug comes down to the fact that if the file is in my OneDrive folder and has been synced to the cloud and is opened truncated then the call to _open fails and gives an errno of EINVAL. I have created the foll

[2021-09-01 12:43] byrnHDF commented on #505
BYPRODUCTS change implemented in current dev branches.

[2021-09-01 12:43] #505 closed, assigned to byrnHDF

[2021-09-02 13:30] rajeeja opened #984 "Segfault H5_gen.F90:4989"
HDF5 version is the current master.
This code use to work earlier.

[code]

[2021-09-03 13:40] jwsblokland commented on #969
@besoft This issue reminds me of the closed issue [HDF5 1.12.1: Unable to compile the parallel version using CMake](https://github.com/HDFGroup/hdf5/issues/833) that I have reported in the past. Maybe the pull request https://github.com/HDFGroup/hdf5/pull/843 mentioned in the issue solves your problem.

[2021-09-06 08:33] chombourger opened #990 "reproduction notice vs COPYING"
Several files read:

and in particular:

- src/H5FDhdfs.c
- src/H5FDhdfs.h
- java/src/hdf/hdf5lib/structs/H5FD_hdfs_fapl_t.java
- java/src/hdf/hdf5lib/structs/H5FD_ros3_fapl_t.java
- tools/libtest/Makefile.am
- tools/libtest/Makefile.in

while `COPYING` states:

should headers in the aforementioned files be updated to match the intent of the `COPYING` file?

Source and binaries of this package are

[2021-09-07 14:51] epourmal commented on #990
Thank you for reporting! Yes, we will fix the headers.

[2021-09-08 14:52] #990 closed, assigned to lrknox

[2021-09-15 10:52] planetmarshall opened #1009 "Applications using dynamic plugins must link to shared HDF5 library"
## Summary

Applications using dynamic plugins must link to shared HDF5 library. API calls from the plugin fail if the application loading the plugin links to the static library

## Steps to reproduce

See the attached minimal sample:

[plugin_test.tar.gz](https://github.com/HDFGroup/hdf5/files/7169365/plugin_test.tar.gz)

[code]

## Expected results

Test executable should exit cleanly with the f

[2021-09-16 15:13] byrnHDF opened #1019 "Add Fortran developer flags to config"
Disabling the fortran flag, -Wuse-without-only prevents the flag being used for development. CFLAGS has the concept of DEVELOPER_FLAGS. The same needs to be done for Fortran flags.

[2021-09-19 08:23] thesamesam opened #1027 "Unable to build 1.12.1 when already installed (Error: Symbol ‘h5i_invalid_hid_f’ at (1) has no IMPLICIT type)"
Hi!

This is a forward of a downstream report of a [bug](https://bugs.gentoo.org/808633) in Gentoo.

When hdf5 1.10.5 is already installed, one gets when building 1.12.1 with fortran support like:
[code]

The same exact build configuration works if hdf5 is uninstalled from the system first.

One of the [commenters](https://bugs.gentoo.org/808633#c15) on the bug in gentoo noticed that the include o

[2021-09-19 10:15] planetmarshall commented on #1009
Note that this is also the case for the HDF5 tools, eg `h5repack-shared` can be used with a dynamic plugin whereas `h5repack` rasies the same error as above.

[2021-09-19 23:04] byrnHDF commented on #1009
HDF5 using dynamic plugins use the dlopen call, which must use shared libraries. Otherwise application will use an incorrect instance of the hdf5 library.

[2021-09-20 07:21] planetmarshall commented on #1009
Yes that makes sense, thanks - though I do think the documentation needs to be clearer on this point (I'm happy to contribute that documentation once I've finished work on this plugin).

This limitation also only applies to plugins that call back into the HDF5 API - not all of them do, notably the `bzip2` sample plugin.

If the plugin callback signatures were extended to make calling back into the

[2021-09-29 18:21] ghost opened #1053 "Unable to find configure....."
Hello together,
today I want to install your new hdf5 for testing, etc. - but I can't find the configure - file in this package. So it is possible to integrate this in this package?

Best regards

Z. Matthias

[2021-09-30 01:13] jw447 opened #1055 "H5Z-ZFP cannot be registered"
Hi,

I've been playing with parallel HDF5 with H5Z-ZFP when I encountered the error

"#016: H5Z.c line 1264 in H5Z_find(): required filter 32013 is not registered"

when I tried to set up the filter. Seems like ZFP filter cannot be loaded while the built-in GZIP work.

Could you please help me with the issue or should I raise this issue at H5Z-ZFP repo?

My configuration is as follows:

gcc/9.3.0

[2021-10-01 16:55] seanm commented on #566
@qkoziol is it possible to contract HDFGroup to fix this?  i.e. I'm willing to pay, depending on price of course.

[2021-10-05 14:48] zidingz opened #1073 "Trying to get in touch regarding a security issue"
Hey there!

I belong to an open source security research community, and a member (@zanderhuang) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best prac

[2021-10-11 15:55] brtnfld commented on #984
Is the dims value that you are passing to H5Dread _f zero? You could try the F2003 version of H5Dread_f instead, which does not require the dim array to see if you have the same issue. Did you declare dims type HSIZE_T?

[2021-10-11 16:15] brtnfld commented on #1027
Does setting CMAKE_INCLUDE_DIRECTORIES_BEFORE help?

[2021-10-12 06:50] thesamesam commented on #1027
Thanks for the tip!

It looks like ```CMAKE_INCLUDE_DIRECTORIES_BEFORE``` _doesn't_ help, but I looked it up and I found ```CMAKE_INCLUDE_DIRECTORIES_PROJECT_BEFORE``` which does.

With ```CMAKE_INCLUDE_DIRECTORIES_BEFORE``` (doesn't work; you can see it's _kind of_ there but it's still injecting /usr/include too early):
[code]

And with ```CMAKE_INCLUDE_DIRECTORIES_PROJECT_BEFORE``` (works):
[cod

[2021-10-13 13:50] adbyrne commented on #969
This looks reasonable, however we will need to make the same change in the autoconf configure.
And we should try to extend this for the fortran configuration as well.

[2021-10-13 14:15] lrknox commented on #1053
What version of HDF5 do you have? Official releases should have a configure file, but otherwise you will need to run the autogen.sh script in the top level source directory to generate configure and other files for building HDF5.

[2021-10-13 16:20] byrnHDF commented on #1055
We have the ZFP plugin successfully building and testing standard hdf5, including parallel hdf5.
Do have any other plugins and are they working?
Have you used plugins before?
Is the enviroment variable, HDF5_PLUGIN_PATH, correct?
Allen

[2021-10-13 16:33] jw447 commented on #1055
Thanks, @byrnHDF I've resolved this issue. It was indeed caused by the env variable HDF5_PLUGIN_PATH. I fixed it by adding H5PLappend(). Sorry that I forgot to close this in time.

[2021-10-13 16:33] #1055 closed, assigned to byrnHDF

[2021-10-13 16:45] byrnHDF commented on #1055
Great!

[2021-10-13 19:27] byrnHDF commented on #969
PR #1089 created

[2021-10-13 19:34] byrnHDF commented on #865
It does depend on the datatype. In this case the CLASS attribute is created with a call to; H5LT_set_attribute_string.
`    /*-------------------------------------------------------------------------
     * create the attribute type
     *-------------------------------------------------------------------------
     */
    if ((tid = H5Tcopy(H5T_C_S1)) < 0)
        return FAIL;

    size = HDstrle

[2021-10-13 20:01] byrnHDF commented on #650
Current development source has these issues fixed.

[2021-10-13 20:01] #650 closed, assigned to nobody

[2021-10-13 20:09] byrnHDF commented on #636
If the question is when are our next releases;
HDF5 version 1.12.1 released on 2021-07-01
HDF5 version 1.10.8 will be released possibly on 2021-10-15 or within a couple of days.

[2021-10-13 20:27] byrnHDF commented on #635
Short version:
H5FDcore.c - functionH5FB__core_open line 804
`    if ((file_image_info.buffer != NULL) && !(H5F_ACC_CREAT & flags)) {
        if (HDopen(name, o_flags, H5_POSIX_CREATE_MODE_RW) >= 0)
            HGOTO_ERROR(H5E_FILE, H5E_FILEEXISTS, NULL, "file already exists")

`
Looks like assigning the HDopen to a variable is needed and then closing it before calling the HGOTO_ERROR?

[2021-10-13 20:32] #839 closed, assigned to nobody

[2021-10-13 20:35] #642 closed, assigned to nobody

[2021-10-13 21:00] byrnHDF commented on #167
Did you get any farther on this?

[2021-10-13 21:27] kerim371 commented on #167
@byrnHDF hi,

I couldn't directly solve the issue that time probably because of the insufficient experience of working with cmake.

As I remember the problem was that VTK library (or ITK) adds namespace to HDF5 cmake target like `itkhdf5` when it builds HDF5 by itself. Then my library needed to link to the VTK, ITK and HDF5 and I always used to get CMake errors when I was trying to find and link t

[2021-10-13 22:08] byrnHDF commented on #167
Okay, let's close. You can always create a new issue.

[2021-10-13 22:08] #167 closed, assigned to byrnHDF

[2021-10-14 05:40] JackBoosY commented on #636
I will try 1.12.1 later.

[2021-10-14 06:32] JackBoosY commented on #636
I read the code of 1.12.1, `add_custom_command` still does not have any return code to judge, can you please confirm that?
Also, I noticed an user report that issue without using vcpkg, see https://github.com/microsoft/vcpkg/issues/16203#issuecomment-825634498.

[2021-10-14 12:16] byrnHDF commented on #636
I looked at that issue and the problem was our cmake code and ninja had issues. Which I believe we fixed in time for 1.12.1 and is now in all our development code.

[2021-10-15 02:44] JackBoosY commented on #636
I will confirm that later.

[2021-10-15 13:07] epourmal commented on #1073
Hello!

Please send email to help@hdfgroup.org and we will go from there. We will take a look at SECURITY.md file.

Thank you for investigating and for bringing the issue to our attention!

Elena

[2021-10-15 13:07] #1073 closed, assigned to nobody

[2021-10-15 15:00] JamieSlome commented on #1073
@epourmal - great, thanks!

You should have received multiple e-mails from us yesterday! ❤️

[2021-10-18 08:00] brechtsanders commented on #636
Trying to build current "develop" source with MinGW-w64 in MSYS2 shell I get:
[code]

[2021-10-18 11:59] byrnHDF commented on #636
This will be addressed by PR #1089

[2021-10-18 14:15] gheber opened #1107 "Create meta-documentation"
- [x] Describe how to add a reference or a new RFC
- [x] Describe how to add an example
- [x] Describe how to include plain HTML
- [x] Describe how to add an API macro
- [x] Describe the custom commands
- [x] Describe the S3 bucket layout and update routine
- [x] Link the RM template

[2021-10-18 14:21] gheber opened #1108 "Doxygenize the high-level APIs"
- [ ] [H5LT](https://portal.hdfgroup.org/display/HDF5/Lite)
- [ ] [H5IM](https://portal.hdfgroup.org/display/HDF5/Images)
- [ ] [H5TB](https://portal.hdfgroup.org/display/HDF5/Tables)
- [ ] [H5PT](https://portal.hdfgroup.org/display/HDF5/Packet+Tables)
- [ ] [H5DS](https://portal.hdfgroup.org/display/HDF5/Dimension+Scales)

[2021-10-25 12:57] epourmal commented on #566
@seanm I'll bring this up with developers. No payment is needed but good ideas are :-)

[2021-10-25 15:39] seanm commented on #566
@epourmal thanks!

@byrnHDF I just checked, and `__aarch64__` is also defined on Mac (as is `__arm64__`), so that code in `H5pubconf.h.in` is fine and won't benefit from any `__aarch64__` to `__arm64__` change).

It's been months since I looked at this in detail, but re-reading things here, the issue is more with the `H5Tinit.c` file created by `H5detect`.  `H5detect` assumes there is one answer f

[2021-10-25 17:23] gnuoyd commented on #566
On Mon, Oct 25, 2021 at 08:40:06AM -0700, Sean McBride wrote:

Is there any reason not to perform the type-layout detection during
library initialization instead of during the build?  In that way
detection will be guaranteed to run on the target architecture.

H5detect does not appear to derive any information that cannot be found
out during target configuration (endianness), compilation (alignmen

[2021-10-25 17:36] seanm commented on #566
As you say, that should work.  I guess an argument against it is that it would be doing at runtime something that can be known at compile time.  But as it would be run once, it's not such a waste.

Indeed I recall `H5detect` performing undefined behaviour as flagged by UBSan.  IMHO, ideally, `H5detect` should just go away.

[2021-10-29 22:21] wkliao opened #1155 "possible inconsistent argument 'size' used in MPI_File_set_size"
https://github.com/HDFGroup/hdf5/blob/9e0f68b967f3e28b6d052ccc45556aedae616d7a/src/H5FDmpio.c#L1749-L1751

The value of argument `needed_eof` passed into the call of MPI_File_set_size at line 1751
may not be consistent among MPI processes. Shouldn't it use `size` instead of `needed_eof`?
Note `size` is broadcast at line 1742 and thus definitely consistent among MPI processes.
https://github.com/HD

[2021-10-30 11:12] ZanderHuang commented on #1073
Sorry for the late reply, I realized some issues in the reports
1. crash line number does not match due to some modifications made in my local code version.
2. Description error caused by markdown grammar.
The issues mentioned above have been resolved.
I also refined the description and resubmitted the reports.

Please refer to the links below for the updated reports:
1. https://www.huntr.dev/boun

[2021-11-02 15:52] eschnett opened #1157 "HDF5 does not build on macOS Monterey with GCC 11.2"
I want to build HDF5 1.10.7 with GCC 11.2 on macOS Monterey. This used
to work fine on the previous version of macOS. It currently fails
because the autodetection of the Fortran kind variables fails. I tried
HDF5 1.10.6 and 1.12.1 as well, with the same result.

I found that the problem is that the output file is not closed by the
Fortran program that is run at configuration time. The enclosed pat

[2021-11-02 18:00] houjun opened #1159 "Splitter VFD test failed"
On develop branch with the following configure:
./configure --enable-build-mode=debug --enable-maintainer-mode --enable-developer-warnings --enable-diags --disable-shared --enable-cxx --enable-fortran --enable-map-api --enable-threadsafe --enable-build-all --enable-mirror-vfd --enable-direct-vfd --enable-unsupported

In the test directory, run:
env HDF5_DRIVER=split /bin/bash ./test_mirror.sh

[co

[2021-11-04 01:54] hyoklee opened #1162 "Close milestones."
@lrknox, please update https://github.com/HDFGroup/hdf5/milestones .

[2021-11-05 13:22] byrnHDF commented on #1159
We are also seeing splitter VFD failure in our Daily Test runs on a variety of platforms.

[2021-11-05 13:25] byrnHDF commented on #1019
Implemented.

[2021-11-05 13:25] #1019 closed, assigned to byrnHDF

[2021-11-05 20:48] #1162 closed, assigned to nobody

[2021-11-07 01:52] hyoklee opened #1167 "Clang throws cast-align warning."
Warning message pattern:

warning: cast from **'Type A***' to '**Type B***' increases required alignment from **C** to **D** [-Wcast-align]

Affected files:

test/h5test.h
tools/lib/h5tools.c

See also PR #1129 and PR #1130.

[2021-11-08 02:31] mwhudson opened #1168 "out of bounds write in H5FD_s3comms_aws_canonical_request"
hdf5 was failing to build in ubuntu on s390x, seen here https://launchpad.net/ubuntu/+source/hdf5/1.10.7+repack-4/+build/22296161 and I feared some kind of endianness thing but instead it was a failure in test_aws_canonical_request that turned out to be caused by an out of bounds write in H5FD_s3comms_aws_canonical_request, specifically

[code]

when signed_headers_dest is the empty string, which

[2021-11-08 21:01] mwhudson commented on #1168
On reflection I guess this bug does have a degree of endian dependence: on a little endian system (with the same stack layout) it would result in a NUL being written to the most significant byte of a heap pointer, and that's not going to do anything.

Anyway, we applied the following very unsophisticated patch in Ubuntu:

[code]

[2021-11-10 18:48] mkitti opened #1185 "JHI5 JavaDoc missing for hdf.hdf5lib.exceptions"
The JavaDoc for [`hdf.hdf5lib.exceptions`](https://github.com/HDFGroup/hdf5/tree/develop/java/src/hdf/hdf5lib/exceptions) is missing:
https://bitbucket.hdfgroup.org/pages/HDFFV/hdf5doc/master/browse/html/javadoc/index.html?overview-summary.html

The only place to find it is in the JHDF5 19.04 package documentation, but I understand correctly, the canonical source is actually from HDF5 Group.
https

[2021-11-10 20:24] #1107 closed, assigned to gheber

[2021-11-10 20:27] gheber opened #1186 "Build and copy the Doxygen documentation as a GitHub action"

[2021-11-10 20:29] gheber opened #1187 "Customize the Doxygen search box to be actually useful"

[2021-11-12 17:43] gnuoyd opened #1190 "Library initialization probably can be "flattened""
Looks like we can "flatten" library initialization a little bit: move the initializer calls in the table at the top of H5VL_init_phase2() into the table in H5_init_library(). It will shorten the code and save the next developer who dips into initialization some puzzlement.

[2021-11-13 00:50] hyoklee opened #1191 "h5dump tfloatsattrs fails on Windows 10 + VS 2022 Community Edition"
[code]

[2021-11-15 13:36] byrnHDF commented on #1191
Yes this has been failing for VS2019. It is a rounding difference. The trouble is that the version on github doesn't fail. Must be a VS version that determines which output will match.

[2021-11-15 14:04] hyoklee commented on #1191
@byrnHDF , can you add VS2022 to CI Actions?

[2021-11-16 13:06] byrnHDF commented on #1185
PR #1197 created for review.

[2021-11-16 18:46] musm opened #1203 "Cross-compilation support"
Lack of cross-compilation from linux to other platforms would significantly help distribution of binaries in the Julia ecosystem. This has been a long-standing issue. See e.g. https://github.com/JuliaPackaging/Yggdrasil/pull/567, https://forum.hdfgroup.org/t/cross-compiling-for-windows/6735, to mention two threads. There have been several attempts at it including the fork https://github.com/steven

[2021-11-18 19:33] gheber commented on #1187
https://cse.google.com/cse?cx=75c754173f9b90804

[2021-11-21 20:43] bsdimp opened #1212 "Fix flock visibility in BSD"
flock is autodetected, but isn't part of POSIX-1.2008. However -D_POSIX_C_SOURCE=200809L is added to the compilation environment. On FreeBSD, this results in compilation errors when sys/file.h is included since LOCK_xx won't be defined (they are not part of POSIX-1.2008). To work around this, one can add -D__BSD_VISIBLE=1 to the command line when flock is detected. My cmake knowledge is lacking, h

[2021-11-21 21:10] epourmal commented on #1212
Thank you for reporting! We will take a look.

On Nov 21, 2021, at 2:43 PM, Warner Losh ***@***.***> wrote:

﻿

flock is autodetected, but isn't part of POSIX-1.2008. However -D_POSIX_C_SOURCE=200809L is added to the compilation environment. On FreeBSD, this results in compilation errors when sys/file.h is included since LOCK_xx won't be defined (they are not part of POSIX-1.2008). To work around

[2021-11-22 00:29] seanm opened #1214 "`H5LS-tattrreg_be` test fails on OpenBSD PowerPC"
With current master plus this patch: https://github.com/HDFGroup/hdf5/pull/1195

I can build HDF5 and most tests pass. But the `H5LS-tattrreg_be` test fails:

The output is:

[code]

Does the `be` in this test name mean 'big endian'? I imagine you don't test many of those anymore, but this old PowerMac G5 is big endian.

[2021-11-22 00:53] epourmal commented on #1214
Yes, this is big endian. We do test IBM PowerPC.

Why you are using master branch? Did you mean develop?

Sent from my iPhone

On Nov 21, 2021, at 6:29 PM, Sean McBride ***@***.***> wrote:

﻿

With current master plus this patch: #1195<https://github.com/HDFGroup/hdf5/pull/1195>

I can build HDF5 and most tests pass. But the H5LS-tattrreg_be test fails:

The output is:

EXPECT=0" "-D" "TEST_REFERE

[2021-11-22 01:29] seanm commented on #1214
Sorry, indeed, I'm using the `develop` branch.  Just so used to saying `master` when I mean 'newest'. :)

What OS do you test PowerPC with?

[2021-11-22 02:11] epourmal commented on #1214
According to our RELEASE.txt for 1.12.1 it is

Linux 2.6.32-573.18.1.el6.ppc64

Sent from my iPhone

On Nov 21, 2021, at 7:30 PM, Sean McBride ***@***.***> wrote:

﻿

Sorry, indeed, I'm using the develop branch. Just so used to saying master when I mean 'newest'. :)

What OS do you test PowerPC with?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<h

[2021-11-22 14:40] byrnHDF commented on #1212
...
To work around this, one can add -D__BSD_VISIBLE=1 to the command line when flock is detected.

Can this define just be added whenever NetBSD is detected? Because CMake sets the CMAKE_HOST_SYSTEM_NAME to FreeBSD and we can check that during configure time.

[2021-11-22 14:43] byrnHDF commented on #1214
I wonder if the compiler version is the issue - hbool_t might be different between compiler versions. On our machine os/compiler version it produces unsigned char.

[2021-11-22 17:22] seanm commented on #1214
Not sure I understand... According to H5public.h it's always `typedef bool hbool_t;`  I don't find any `typedef unsigned char hbool_t;`, but maybe I'm just not finding it...

[2021-11-22 17:52] byrnHDF commented on #1214
We have to look at h5ls print_native_type function there is a H5Tequal if/else block that checks the "hid_t type".
        else if (H5Tequal(type, H5T_NATIVE_UCHAR) == TRUE) {
            h5tools_str_append(buffer, "native unsigned char");
        }

That function is called by print_type, which is called after getting the type from the dataset with a H5Dget_type call.

[2021-11-22 17:53] byrnHDF commented on #1214
BTW, the boolean check is at the bottom of the tree;
         else if (H5Tequal(type, H5T_NATIVE_HBOOL) == TRUE) {
            h5tools_str_append(buffer, "native hbool_t");
        }

[2021-11-23 00:00] seanm commented on #1214
it does indeed go into the `else if (H5Tequal(type, H5T_NATIVE_HBOOL) == TRUE)` branch at the end

[2021-11-23 16:14] #1187 closed, assigned to gheber

[2021-11-23 16:15] bsdimp commented on #1212
I believe an appropriate workaround can be found for all the BSDs. I'm testing out what to do and will report back.

[2021-11-23 23:54] gheber opened #1221 "Doxygen unescaped quotes and clang issue"
- `Illegal ALIASES format 'Private Heap for HDF5</a>'. Use "name=value" or "name{n}=value", where n is the number of arguments`
- clang is tripping over the use of ??< or ??> in the comments - trigraph detected and converted

Reported by @byrnHDF

[2021-11-24 14:32] #1221 closed, assigned to gheber

[2021-11-24 21:52] houjun opened #1227 "Parallel Write Hangs with OpenMPI 4.0.3"
@tpg2114 and I discovered a [deadlock/hang issue](https://github.com/AMReX-Codes/amrex/issues/2491) when writing a dataset in parallel with collective I/O turned on while using OpenMPI with ompio driver. Here is a simple [reproducer code ](https://gist.github.com/houjun/fb6179af24c2f58e8ea4ad2191f7ca90) that hangs when running with 31 MPI ranks with OpenMPI 4.0.3, HDF5 1.12.1 and HDF5 1.10.8.

@tp

[2021-12-02 15:44] gheber opened #1249 "Make it easier to find version-specific documentation"
For the time being, add a blurb like this to all overview pages:

_Version-specific documentation can be found here:_
- [HDF5 `develop` branch](https://docs.hdfgroup.org/hdf5/develop/index.html)
- [HDF5 1.12.x](https://docs.hdfgroup.org/hdf5/v1_12/index.html)
- [HDF5 1.10.x](https://docs.hdfgroup.org/hdf5/v1_10/index.html)
- [HDF5 1.8.x](https://docs.hdfgroup.org/hdf5/v1_8/index.html)

[2021-12-02 15:46] gheber commented on #1249
The S3 buckets for 1.8 and 1.10 are empty 👎 . Fix it!

[2021-12-02 20:49] gvtulder opened #1256 "h5py (+PyTorch) memory leak since hdf5 1.12.1"
In h5py, the Python memory explodes when an array is loaded from an h5py object and converted to a PyTorch tensor, but only if you also retrieve an attribute. See the original issue: h5py/h5py#2010.

I am not entirely sure if this is an h5py issue or a problem in libhdf5, but it is connected to this change in hdf5: 98a27f1fe4f0cb96ce7fdeee2e95079ae19db5cd (between libhdf5 1.12.0 and 1.12.1). Befor

[2021-12-06 01:49] hyoklee commented on #1191
d7466741eafcaf117818905a6cf2bcc2e798e2cc

[2021-12-06 14:33] byrnHDF commented on #1185
javadoc updated in current source since #1197 was merged.

[2021-12-06 14:33] #1185 closed, assigned to byrnHDF

[2021-12-06 14:35] byrnHDF commented on #969
The solution has been merged into all branches.

[2021-12-06 14:35] #969 closed, assigned to byrnHDF

[2021-12-06 14:35] mkitti commented on #1185
Thank you

[2021-12-07 01:59] summerccc opened #1266 "gcc compile the hdf5 grow a error: does not give a valid preprocessing token"
I use the command: ./configure .next I use the command : make . the process appear a error: H5B.C:153:1: error: pastinq ""H5B key t" and  arr" does not qive a valid pre processinq token

[2021-12-10 18:06] rjdave opened #1281 "HDF5 1.12.1 on MacOS with CMake and Macports zlib"
Building HDF5 v1.12.1 using CMake with the Intel compilers on a Mac OS 11 (Big Sur) system with HDF5 v1.12.1 installed via macports errors as follows:

[code]

What's happening is that CMake is finding zlib (probably installed as a dependency for HDF5) in `/opt/local` and setting `ZLIB_INCLUDE_DIR` to `/opt/local/include`. Then CMake sets that as a global include directory with `INCLUDE_DIRECTORIE

[2021-12-11 13:26] gvtulder commented on #1256
The problem might be linked to [this specific change](https://github.com/HDFGroup/hdf5/commit/98a27f1fe4f0cb96ce7fdeee2e95079ae19db5cd#diff-86d0f4036f04f4e1414d050dd56710a1f54ee53e1ef8b9f65f69e632606be5eeR3433-R3439) in `H5T__initiate_copy`.

After the change, it looks like this, and then it leaks: https://github.com/HDFGroup/hdf5/blob/98a27f1fe4f0cb96ce7fdeee2e95079ae19db5cd/src/H5T.c#L3433-L3438

[2021-12-13 14:27] hyoklee opened #1289 "test/accum.c CTest fails on macOS Monterey"
[code]

[2021-12-13 21:13] #1249 closed, assigned to gheber

[2021-12-14 07:37] MengluXie opened #1292 "How to convert MARRE_2 data from HDF5 format to CSV format using R?"
Hello, all. I have got a MERRA_2 weather data and want to convert it from HDF5 to CSV format using R. If anyone knows what should I do.

[2021-12-14 08:23] jbensabat opened #1293 "build HDF5 with ZLIB under MSVC 2017 and CMAKE"
Hello
I am trying to build hdf5 (last version) with ZLIB support.
First I successfully built zlib (debug and release) with CMAKE and then I tried to configure the HDF5 cmake
I provided the location of the zlib include, lib and bin directories but I get the error

Could NOT find ZLIB (missing: ZLIB_DIR)
even when I provide the path of the zlib directory

I guess that some cmake file is missing in t

[2021-12-15 08:32] jamtrott opened #1298 "h5dump: Long option for '--format' not working"
When using `h5dump` from HDF5 1.10.5, the documentation states that the `-m` or `--format` option can be used to choose an output format for floating point values. The long version of this option does not appear to work.

That is, given an H5 file `fibre.h5` containing a dataset `/VisualisationVector/0`, the following command works fine and produces the expected results:

[code]

However, trying t

[2021-12-15 08:39] jamtrott commented on #1298
Also, I think it would be a good idea for the documentation of `h5dump` (https://support.hdfgroup.org/HDF5/doc/RM/Tools/h5dump.htm) to mention that setting the floating point format also automatically sets the column width to print only a single item per line.

This is at least what I have observed, and seems to be a result of the following lines in `h5dump.c`: https://github.com/HDFGroup/hdf5/blo

[2021-12-15 16:14] btknzn commented on #969
it is nice solution, thanks

[2021-12-17 20:11] hyoklee opened #1307 "Enabling both parallel and all VFDs fails to pass test."
I'm testing the following configuration option.

[code]
Test fails on Linux: https://github.com/hyoklee/hdf5/runs/4563860684?check_suite_focus=true

[2021-12-17 21:57] lrknox commented on #1307
This configuration with HDF5 1.13.1-1 passed all tests on jelly with MPICH 3.3 and OpenMPI 4.0.0, both built with gcc-7.2.0.  The log in the link above lists mpicc as Ubuntu 9.3.0-17ubuntu1~20.04.  Is it supported?  Does it pass tests without the vds enabled?

[2021-12-17 22:04] hyoklee commented on #1307
Yes, it passed yesterday without VFDs.

https://github.com/hyoklee/hdf5/actions/runs/1589741311

[2021-12-18 12:55] ZFeiXQ opened #1311 "Null Pointer Dereference in H5F__accum_read() hdf5/src/H5Faccum.c:192"
**Version:**
[code]
**System information**
[code]

**command:**
[code]

[POC1.zip](https://github.com/HDFGroup/hdf5/files/7739251/POC1.zip)

**Result**
[code]
**GDB information**

[code]

[2021-12-18 12:59] ZFeiXQ opened #1312 "Null Pointer Dereference in in H5L__extern_query ()at hdf5/src/H5Lexternal.c:280"
**Version:**
[code]
**System information**
[code]

**command:**
[code]
[POC2.zip](https://github.com/HDFGroup/hdf5/files/7739263/POC2.zip)

**Result**
[code]
**GDB information**

[code]

[2021-12-18 13:08] ZFeiXQ opened #1313 "stack-buffer-overflow at H5D__create_chunk_file_map_hyper /hdf5/src/H5Dchunk.c:1927"
**Version:**
[code]
**System information**
[code]

**command:**
[code]

[POC3.zip](https://github.com/HDFGroup/hdf5/files/7739269/POC3.zip)

**ASAN information**

[code]

[2021-12-18 13:32] ZFeiXQ opened #1314 "heap-buffer-overflow atH5F_addr_decode_len /hdf5/src/H5Fint.c:2855"
**Version:**
[code]
**System information**
[code]

**command:**
[code]
[POC5.zip](https://github.com/HDFGroup/hdf5/files/7739297/POC5.zip)

**result**
[code]

**ASAN information**

[code]

[2021-12-18 13:38] ZFeiXQ opened #1315 "stack overflow at hdf5/src/H5Eint.c"
**Version:**
[code]
**System information**
[code]

**command:**
[code]
[POC6.zip](https://github.com/HDFGroup/hdf5/files/7739303/POC6.zip)

**result**
[code]

**ASAN information**

[code]

[2021-12-18 13:45] ZFeiXQ opened #1316 "segmentation fault in in H5F_get_nrefs () at hdf5/src/H5Fquery.c:569"
**Version:**
[code]
**System information**
[code]

**command:**
[code]
[POC7.zip](https://github.com/HDFGroup/hdf5/files/7739312/POC7.zip)

**result**
[code]
**GDB**
[code]

[2021-12-18 13:47] #1316 closed, assigned to nobody

[2021-12-18 13:57] ZFeiXQ opened #1317 "segmentation fault in h5stat"
**Version:**
[code]
**System information**
[code]

**command:**
[code]
[POC8.zip](https://github.com/HDFGroup/hdf5/files/7739339/POC8.zip)

**result**
[code]

**ASAN information**
[code]

[2021-12-18 14:00] ZFeiXQ opened #1318 "Null Pointer Dereference in H5L__extern_query() hdf5/src/H5Lexternal.c"
**Version:**
[code]
**System information**
[code]

**command:**
[code]
[POC9.zip](https://github.com/HDFGroup/hdf5/files/7739341/POC9.zip)

**result**
[code]

**GDB information**
[code]

[2021-12-18 14:02] #1318 closed, assigned to nobody

[2021-12-18 14:02] #1312 closed, assigned to nobody

[2021-12-18 14:13] ZFeiXQ opened #1319 "segmentation fault at H5VM_memcpyvv() /hdf5/src/H5VM.c:1525"
**Version:**
[code]
**System information**
[code]

**command:**
[code]
[POC4.zip](https://github.com/HDFGroup/hdf5/files/7739365/POC4.zip)

**Result**
[code]

**GDB information**

[code]

[2021-12-20 03:55] ax3l opened #1320 "Bug: HDF5 1.10.8/1.13.0 installs CMake packages in wrong location"
At least for Unix, HDF5 1.10.8/1.13.0 installs the CMake packages in the wrong location.

Please see @jbigot report in https://github.com/spack/spack/issues/28074 for details.

Note that Spack installs HDF5 via its CMake installation scripts: https://github.com/spack/spack/tree/develop/var/spack/repos/builtin/packages/hdf5

[2021-12-20 03:56] ax3l commented on #1320
Quoting @jbigot's Spack issue:

[code]
output should be:
[code]
as it is for 1.12.1 for example, but instead for 1.10.8, it is:
[code]

As specified in cmake doc https://cmake.org/cmake/help/latest/command/find_package.html#config-mode-search-procedure
`<prefix>/share/cmake/` is not part of the Search Procedure, `<prefix>/share/cmake/<name>` is.

[2021-12-21 01:42] ax3l commented on #1320
Tracked the PRs that caused this:
- `develop` & `1.13.0` release: #1041
- `1.10.8` release: #1043

cc @byrnHDF :)

[2021-12-21 04:46] ax3l commented on #1320
This probably also affects the 1.13.0 release

[2021-12-21 14:59] hyoklee commented on #1292
@MengluXie , what R package do you use for reading HDF5?
You have several options (e.g., NCDF4, rgdal, hdf5r) and I'd like to know it first to help you further:

https://hdfeos.org/software/R.php

[2021-12-21 17:24] hyoklee commented on #1292
Here's a sample script to convert an HDF5 dataset from MERRA2 into CSV.
[code]

[2021-12-22 01:31] MengluXie commented on #1292
Ok, I will try to run it. Thanks for your reply.

[2021-12-22 07:03] #1311 closed, assigned to nobody

[2021-12-22 11:57] yixingzhong opened #1323 "can I turn off lock function?"
when it reads different hdf5 files,also need wait other thread haved done read hdf5 file. I try to to turn off lock,but threads read fail. why do use lock function when read different hdf5 files?

[2021-12-24 11:25] ZFeiXQ opened #1325 "__memmove_avx_unaligned_erms"

[2021-12-25 06:05] #1325 closed, assigned to nobody

[2021-12-25 12:26] ZFeiXQ opened #1326 "Untrusted Pointer Dereference in H5O__dtype_decode_helper () at hdf5/src/H5Odtype.c:499"
Untrusted Pointer Dereference in H5O__dtype_decode_helper () at hdf5/src/H5Odtype.c:499
**Version**
[code]

**command:**
[code]
[POC.zip](https://github.com/HDFGroup/hdf5/files/7775827/POC.zip)

**Result**
[code]
**bt**

[code]

[2021-12-25 13:30] ZFeiXQ opened #1327 "Divide By Zero in H5T__complete_copy () at /hdf5/src/H5T.c:3613"
**Version:**
[code]
**System information**
[code]

**command:**
[code]

[POC.zip](https://github.com/HDFGroup/hdf5/files/7775865/POC.zip)

**Result**
[code]
**bt**

[code]

[2021-12-25 13:34] ZFeiXQ opened #1328 "H5T__complete_copy"
**Version:**
[code]
**System information**
[code]

**command:**
[code]

[POC.zip](https://github.com/HDFGroup/hdf5/files/7775865/POC.zip)

**Result**
[code]
**bt**

[code]

[2021-12-25 13:34] #1328 closed, assigned to nobody

[2021-12-25 14:17] ZFeiXQ opened #1329 "A heap-use-after-free in in H5AC_unpin_entry"
**Version:**
[code]
**System information**
[code]

**command:**
[code]

[POC1.zip](https://github.com/HDFGroup/hdf5/files/7775931/POC1.zip)

**Result**
[code]
**ASAN**

[code]

[2022-01-06 16:55] seanm commented on #566
Happy New Year all!

Any further thoughts on this issue?

[2022-01-06 17:10] gnuoyd commented on #566
On Thu, Jan 06, 2022 at 08:55:40AM -0800, Sean McBride wrote:

I think that h5detect should be replaced entirely, as you mentioned last
year.  In the New C99 Order, type size and natural alignment should be
discoverable at compile time.  The location and width of floating-point
fields (sign, mantissa, exponent) for each target architecture can be
derived from processor manuals and added to a table

[2022-01-06 17:14] seanm commented on #566
Agreed.  Who can do this?  I'm (well, my employer is) still willing to contribute some $ to get it done.

That sounds like everything.

[2022-01-06 17:22] qkoziol commented on #566
This may not work for cross-compiles+cross-execution environment situations, where the build system is different from the targeted runtime system.   This is the benefit of h5detect - you are not just cross-compiling, but you are actually running the binary in the environment where the application will run.

For example, h5detect can be built with a cross-compile, but then must be submitted as an a

[2022-01-06 17:24] qkoziol commented on #566
As @gnuoyd says, this _could_ be done at runtime, within an application, but the extra overhead of executing it each time would be frustrating for applications to accept, since it could be done once, at configure time.

[2022-01-06 17:44] seanm commented on #566
It would take a trivial amount of runtime to determine such things, wouldn't it?

[2022-01-06 18:52] gnuoyd commented on #566
On Thu, Jan 06, 2022 at 09:22:17AM -0800, Quincey Koziol wrote:

It's not necessary to run h5detect.  It is necessary to cross-compile
for the right target.

If the floating-point format is XYZ in the runtime environment, and I
cross-compiled for a target that uses floating-point format PQR, then
I chose the wrong target.  If the runtime environment does not support
an instruction that my binary u

[2022-01-06 18:56] qkoziol commented on #566
No - the execution environment (i.e. what happens when a floating-point exception occurs, etc) can be different.

[2022-01-06 19:02] gnuoyd commented on #566
On Thu, Jan 06, 2022 at 10:56:36AM -0800, Quincey Koziol wrote:

Please give a concrete example.

Dave

[2022-01-06 19:42] seanm commented on #566
I'm inclined to agree with @gnuoyd. It seems to me whatever compiler you are using needs to know intimate details of what it's compiling *for*, whether cross compiling or not.

But to bring this back to the core issue... fixing the `sizeof(long double)` case would be sufficient for me.  It seems to be the only thing different between Intel vs ARM Mac.  Getting rid of h5detect entirely would be a b

[2022-01-06 20:06] qkoziol commented on #566
Actually, this issue needs to work the opposite way - the new way needs to prove that it will work in all existing cases.  The old way doesn't need to prove anything, it already works correctly for all existing cases.

If you'd like to find out what those are, @brtnfld, Suren Byna (@ LBNL) and the DOE weapons lab people (like Lee Ward, Mark Miller, et al) would be the people to talk to about cases

[2022-01-06 20:07] qkoziol commented on #566
Agree here, yes.

[2022-01-06 20:32] seanm commented on #566
Uh, no, the old way does ***not*** work for Universal Binary builds on macOS, which is the topic of this ticket :)

OK great. (Indeed I don't see how a compiler could generate assembly for `long double` use if it didn't know how big it was!)

So let's focus on this then. Can the subset of configure-time introspection that looks at the size of `long double` be excised?  (Removal of other configure-

[2022-01-06 20:36] qkoziol commented on #566
Agree - focus on fixing this problem separately from the h5detect issue.

[2022-01-06 22:47] gnuoyd commented on #566
On Thu, Jan 06, 2022 at 10:56:36AM -0800, Quincey Koziol wrote:

The configuration of floating-point exceptions does not appear to make a
material difference to the H5Tinit.c that is generated.

I see h5detect trying to determine the machine's idea of each type's
native alignment using experimental accesses.  The behavior of those
accesses is undefined in C: it's possible for a C compiler just to

[2022-01-06 23:00] byrnHDF commented on #1298
Have you tried --format=%.3g without the quotes?

[2022-01-06 23:05] byrnHDF commented on #1298
Interesting that the format option is part of the XML control set. Maybe it was originally for XML (therefore the column set) and when it was used for non-xml output the col set was not changed.

[2022-01-06 23:10] byrnHDF commented on #1320
<prefix>/(lib/<arch>|lib*|share)/cmake/<name>*/                 (U)
is part of the search path for *nix.

[2022-01-07 07:30] jamtrott commented on #1298
I have also tried without the quotes, and it still does not work.

[2022-01-07 12:05] jbigot commented on #1320
Dear @byrnHDF ,

in [CMake doc](https://cmake.org/cmake/help/latest/command/find_package.html#config-mode-search-procedure), the 3 lines I see for Unix are:
[code]
plus 3 common lines for Win/Unix
[code]

All these 6 lines contain `<name>` in one form or another

[2022-01-07 14:52] jeffhammond opened #1343 "autogen.sh fails"
I do not understand why autogen.sh breaks on a very generic Linux machine.

`autoreconf -fiv` works just fine, so perhaps that should be documented as a superior option.

# Error
[code]

`/usr/bin/libtoolize` is present in the obvious default, so I do not know why it's not found.

# Version
[code]

[code]

# Machine

[code]

[2022-01-07 15:06] jeffhammond opened #1344 "don't use F03 flags if you're not using F03"
`-stand:f03` tells `ifort` to warn when non-F2003-standard features are used.  You are using `STORAGE_SIZE` from F2008 along with Intel-specific directives (`!$DEC`), so using this option just generates a bunch of pointless warnings.

There is no harm is not setting this option, since `ifort` will default to supporting every feature when you don't specify a standard.

[code]

[2022-01-07 17:39] jhendersonHDF commented on #1343
At first glance:

`/libtoolize --copy --force`

seems to be the issue. `libtoolize` certainly isn't going to be found there unless you have a strange system!

Looks like autogen.sh had a problem running `dirname`, which in turn causes `LIBTOOL_DIR` to be unset here. Is the output from `which libtool` on your system what you'd expect?

[2022-01-07 21:11] byrnHDF commented on #1157
#969 and other merges fix this issue.

[2022-01-07 21:11] #1157 closed, assigned to byrnHDF

[2022-01-07 21:15] jeffhammond commented on #1343
The issue is that libtool wasn't installed, because it comes from `libtool-bin`, whereas I only had the `libtool` package.

This happened to me on both of my Ubuntu 20 machines, both of which have the dependencies for all the HPC software I use, and I build e.g. LLVM and NWChem on them all the time, so they have the standard development packages installed.

I recommend more defense programming w.r

[2022-01-07 21:20] jhendersonHDF commented on #1343
Agreed on this. It looks like we only use `libtool` to find the directory for `libtoolize`, so it may be fine to just do a `which libtoolize` instead. @derobins thoughts?

[2022-01-07 23:03] brtnfld commented on #824
Currently, you need to pass a valid character string for "buf", but it can be a length of 1 if you like. The "size" returned will be the needed length.

[2022-01-07 23:18] jhaiduce commented on #824
Just tried that. I get the correct length with a zero-length string as well.

So it seems that the implementation is working, the problem is just an omission in the documentation.

[2022-01-07 23:39] jhaiduce commented on #824
I submitted a pull request that adds a sentence to H5Fget_name.htm in the documentation to explain this.

[2022-01-08 00:17] brtnfld commented on #824
I found a bug with H5Fget_name_f when looking into using an allocatable character string. If the buffer is the exact size needed, then the filename returned will be truncated by one character. See PR #1345 for the fix.

[2022-01-08 15:25] seanm commented on #1167
There are many such warnings. I fixed a bunch long ago, but the remaining ones are non trivial, require API change, etc.

Would be really nice to see them finally fixed though!

[2022-01-08 22:52] seanm commented on #537
@lrknox were these ever done?

[2022-01-08 22:53] seanm commented on #435
@lrknox @derobins  sounds like this is mostly done?

[2022-01-08 23:08] seanm commented on #1212
@bsdimp Interestingly, I found this same problem about a week before you. Patch pending here: https://github.com/HDFGroup/hdf5/pull/1195

[2022-01-08 23:11] seanm commented on #937
And such a change can be done automatically with [clang-tidy](https://clang.llvm.org/extra/clang-tidy/)

If it's agreed to go with uppercase, I can make a patch.

[2022-01-08 23:12] seanm commented on #1289
What are the test names exactly?

I've just tried on older macOS 10.14:

[code]

[2022-01-09 06:16] hyoklee commented on #1289
19 - H5TEST-accum (Failed)

[2022-01-10 11:24] derobins commented on #1343
It's been a long time since I looked at this code, but yeah - libtool-bin has to be installed. We can change it, we just have to be mindful of not breaking other platforms. I recall MacOS requiring hacks.

FWIW, we cobbled together a custom script instead of just running autoreconf because of older systems we had to support and the desire to hard-code the autotools versions we used to release. Tho

[2022-01-10 15:13] seanm commented on #1214
@byrnHDF friendly ping... what does it tell us that I get into that branch at the end?

[2022-01-10 16:53] seanm commented on #1289
I don't reproduce on my Intel Mac with macOS 10.14

I do reproduce with my ARM Mac with macOS 12.1.

I wonder if it's ARM vs Intel or 10.14 vs 12.1....

[2022-01-10 16:55] hyoklee commented on #1289
No. My Mac is x86_64:
```Darwin nene.ad.hdfgroup.org 21.1.0 Darwin Kernel Version 21.1.0: Wed Oct 13 17:33:23 PDT 2021; root:xnu-8019.41.5~1/RELEASE_X86_64 x86_64```

[2022-01-10 17:01] seanm commented on #1289
OK, let me try on my macOS 11.6.1 bot then...

[2022-01-10 17:13] seanm commented on #1289
Passes on 11.6.2 (on Intel):

[code]

So I guess the difference is macOS 11 to 12.

[2022-01-10 17:18] seanm commented on #1289
I don't know HDF well, but I know macOS well.  Let me know if I can help.

[2022-01-10 17:52] gnuoyd commented on #1289
On Mon, Dec 13, 2021 at 06:27:48AM -0800, H. Joe Lee wrote:

What does the test output say about how/why the child process exits?

Dave

[2022-01-10 17:57] hyoklee commented on #1289
@gnuoyd , how do I get what you want (i.e., test output & how/why child process exists)? I need an official documentation for reporting bugs correctly.

[2022-01-10 18:15] gnuoyd commented on #1289
On Mon, Jan 10, 2022 at 09:57:22AM -0800, H. Joe Lee wrote:

When you change to your build directory and run `make check`, each test
generates a file under test/ with `.chklog` suffix.  I think the file to
look for is accum.chklog.

Dave

[2022-01-10 19:15] hyoklee commented on #1289
I'm testing using ctest. I can't find `.chklog` file. Any other tip?

[2022-01-10 19:32] seanm commented on #1289
It mentions `/Users/hyoklee/src/hdf5/test/accum.c:2291`.  Run in lldb and put a breakpoint.

[2022-01-10 20:24] gnuoyd commented on #1289
On Mon, Jan 10, 2022 at 11:32:15AM -0800, Sean McBride wrote:

That's where the parent catches the error.

Dave

[2022-01-11 12:30] byrnHDF commented on #1214
Only that on that machine H5T_NATIVE_HBOOL matches the datatype - native datatypes are machine/os/compiler dependent.

[2022-01-11 14:26] hyoklee opened #1348 "Use semantic versioning."
This was suggested in 2013 but not executed:

https://forum.hdfgroup.org/t/semantic-versioning/3042

If you like the idea, please react with :+1:.

[2022-01-11 16:44] byrnHDF commented on #937
It might be useful to at least see how extensive the issue has become or gotten better?

[2022-01-12 15:16] seanm commented on #937
https://github.com/HDFGroup/hdf5/pull/1359

[2022-01-12 17:02] seanm commented on #1214
Sorry, I don't quite grok that... has this identified the problem? or the solution?

[2022-01-12 17:16] byrnHDF commented on #1214
Not sure - only that there can be differences depending on machine/os/compiler. I might be wrong but I think I have run into NATIVE type differences before. Better is to use STD types.

[2022-01-12 19:47] gnuoyd commented on #1214
On Wed, Jan 12, 2022 at 09:16:46AM -0800, Allen Byrne wrote:

I think the test may be flawed.  Seems like it should avoid the use of
native types altogether.  The h5ls simple output (`-S`) seems to avoid
native types.

Nevertheless, looks like something went sideways in print_native_type
-> H5Tequal -> H5T_cmp?  It may be necessary to step through in the
debugger to see why none of the 8-bit-wide,

[2022-01-13 08:06] ZFeiXQ opened #1368 "heap-buffer-overflow in H5O__attr_shared_decode"
**Version:**
 Version 1.13.1-1
**System information：**

Ubuntu 20.04.1 LTS, gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)
**command:**

h5ls -vlr POC
[POC.zip](https://github.com/HDFGroup/hdf5/files/7860990/POC.zip)

*Result：*
Segmentation fault
**ASAN：**

[code]

[2022-01-13 13:30] seanm commented on #1214
CC: @hyoklee

[2022-01-17 00:36] opoplawski opened #1379 "HDF5 1.12.1 fails to build with gcc 12"
Fedora rawhide has just been updated to gcc 12.  hdf5 now fails to build with:
[code]
You can track status here: https://koschei.fedoraproject.org/package/hdf5?collection=f36

[2022-01-17 00:52] epourmal commented on #1379
Thank you for reporting! We will take a look after the Holiday.

Sent from my iPhone

On Jan 16, 2022, at 6:37 PM, Orion Poplawski ***@***.***> wrote:

﻿

Fedora rawhide has just been updated to gcc 12. hdf5 now fails to build with:

make[2]: Entering directory '/builddir/build/BUILD/hdf5-1.12.1/build/c++/src'
/bin/sh ../../libtool  --tag=CXX   --mode=compile g++ -DHAVE_CONFIG_H -I. -I../../../c++

[2022-01-18 18:49] colleeneb opened #1381 "dtransform test failing for char type-- signed integer overflow?"
Hello,

On a version of the Intel oneAPI compiler, we're seeing that the dtransform test is failing:
[code]

After discussing this with Intel, they said that it looks like there is signed integer overflow in the char computation for integer 36 (the first element in transformData) (signed chars have a range from -128 to 127). Since signed integer variables do not have wrap-around behavior in C lang

[2022-01-19 23:09] byrnHDF commented on #1381
I have seen this only on our windows test machine with Intel, clang or the VS2109 compiler do not fail.

[2022-01-21 14:20] brianwhitney59 commented on #1381
In the dtransform test, the char->char test has a transform function of (x+100)/4*3 and the inverse of x/3*4-100.  Since char is signed and the first data value is 36, x+100=136, which is larger than 127.  If the functions are rewritten to (x/4+25)*3 and (x/3-25)*4, this would allow the values used for this test to stay in range for signed data.

[2022-01-22 14:40] #118 closed, assigned to jhendersonHDF

[2022-01-25 05:41] rajeeja commented on #984
Changing versions fixed the issue. Closing this

[2022-01-25 05:41] #984 closed, assigned to nobody

[2022-01-25 15:45] kmuehlbauer opened #1388 "Renamed Attribute in dense storage can't be deleted"
If I add

[code]

before Dataset close in this test file, the Attribute can't be deleted. This could be another manifestation of https://forum.hdfgroup.org/t/bug-h5arename-fails-unexpectedly/4881

https://github.com/HDFGroup/hdf5/blob/4d45d05078fb1f67cc449fd5a6826c6dcfe55bfe/test/tattr.c#L2807-L2810

More context:

- creation order tracking enabled
- attributes which are created in dense storage c

[2022-01-26 08:15] YINGPENGZH opened #1392 "I failed to build hdf5-hdf5-1_12_0 with gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)"
Hi, I failed to build hdf5-hdf5-1_12_0 with gcc 9.3, the error is following, could you help me?

![image](https://user-images.githubusercontent.com/21099446/151126459-ed033ebf-5276-4d5b-8773-7bc4c8d72603.png)

[2022-01-26 10:56] Lane689 opened #1393 "Ectracting depth images to a folder"
Hi all, I have h5 file which not have a group or subgroup, just dataset of depth images, here my code for extracting depth images from h5 file to a folder:

[code]

When I run this code it shows me this error:

![image](https://user-images.githubusercontent.com/88096949/151150898-e99cf03f-893c-43e0-8a9e-0ef7542ff775.png)

Then I try `print(IMAGE_arr.dtype, IMAGE_arr.shape)` and this gives me a res

[2022-01-26 11:14] kmuehlbauer commented on #1388
I've added a possible fix to #1389. The testsuite runs smoothly, and downstream works nicely too.

[2022-01-26 14:32] byrnHDF opened #1394 "Add RPM/DEB packaging to CMake"
This issue has been in the HDF JIRA list, HDFFV-11262, for awhile. Bringing it here for community discussion and suggestions.

[2022-01-28 09:16] p4zuu commented on #1315
It seems that POC6.zip doesn't contain the crasher

[2022-01-28 13:49] epourmal commented on #1388
Thank you for the proposed fix. We will be reviewing it shortly.

[2022-01-28 14:20] epourmal opened #1397 "Address the comment in #484"
According to the comment to #484 we need to do some work before the change can be introduced in the develop branch and then is propagated to other branches.

Entering this issue to keep it on our radar or maybe someone from the community will help with this simple change?

Thank you!

[2022-01-28 14:29] byrnHDF commented on #1293
HDF5 is able to use external libs.
There are two defines, <ext-name>_DIR and <ext-name>_ROOT, one of which should work.
Check the CMakeFilters.cmake file and the referenced macros in the config directory for more details.

[2022-01-28 14:59] kmuehlbauer commented on #1388
@epourmal Thanks for the heads-up.

[2022-01-28 19:31] carnil commented on #1317
This appears to be CVE-2021-45829.

[2022-01-28 19:32] carnil commented on #1314
This appears to be CVE-2021-45830

[2022-01-28 19:33] carnil commented on #1315
this appears to be CVE-2021-45832.

[2022-01-28 19:34] carnil commented on #1313
This appears to be CVE-2021-45833.

[2022-01-28 19:35] carnil commented on #1329
This appears to be CVE-2021-46242.

[2022-01-28 19:36] carnil commented on #1326
This appears to be CVE-2021-46243.

[2022-01-28 19:37] carnil commented on #1327
This appears to have CVE-2021-46244 assigned.

[2022-01-29 05:53] leleliu008 opened #1410 "Support Android Targets"
https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.13/hdf5-1.13.0/src/hdf5-1.13.0.tar.bz2

[code]

![27](https://user-images.githubusercontent.com/3040852/151649358-cb8667c9-2149-421b-b891-bd4a98a5a84f.PNG)

It seems that this project do not support cross-compiling. how can I skip these build time checks? Thanks.

[2022-01-30 22:24] opoplawski opened #1413 "long double related test failure on ppc64le with gcc 12"
Fedora build with gcc 12 is failing with:
[code]
Probably related to recent gcc default change to -mabi=ieeelongdouble on ppc64le, but don't know any more details.

[2022-01-31 13:40] byrnHDF commented on #1410
You can pre-populate the file needed - you need to do a search. However we do have CMake support in the src/CMakeLists.txt file for using the file. About line 1028 HDF5_USE_PREGEN variable.

[2022-01-31 14:14] byrnHDF commented on #1320
They contain `<name>*` - so for hdf5 the files are:
hdf5-config.cmake  hdf5-config-version.cmake  hdf5-targets.cmake  hdf5-targets-relwithdebinfo.cmake

[2022-01-31 14:27] byrnHDF commented on #1320
HDF5 CMake mininum is 3.12 and introduced in 3.12 is the <NAME>_ROOT define (CMake or ENV VAR). Setting that variable to the install location of hdf5 will allow the find package process to find the config files whereever they are located.

https://cmake.org/cmake/help/latest/command/find_package.html
----------------------------------------------------------------------------------------
New in ve

[2022-01-31 15:05] byrnHDF commented on #1320
Using the HDF5Examples project (included with hdf5 binaries) I was able to test this with a system CMake > 3.12.
Using cmake minimum of 3.12 in the CMakeLists.txt file and defining HDF5_ROOT, the package was found for 1.10.7 or 1.10.8.
Using cmake minimum less 3.12 in the CMakeLists.txt file and enabling policy CMP0074 and defining HDF5_ROOT,  the package was found for 1.10.7 or 1.10.8.

[2022-01-31 15:09] jbigot commented on #1320
Indeed setting `HDF5_ROOT` is an option. However, HDF5 will not be "automatically detected" as per usual with cmake because the `hdf5*` part must be in the path leading to the file in addition to the file name itself. Also, cmake 3.12 becomes a dependency not only to compile HDF5, but also to consume it.

moving everything under a `hdf5` sub-directory would fulfill the users and cmake's expectatio

[2022-01-31 16:10] byrnHDF commented on #1320
Yes, we plan to add a FAQ paragraph with the info above and add that info to the USING_HDF5_CMake.txt and USING_CMake_Examples.txt files as well.

[2022-01-31 17:21] byrnHDF commented on #1320
Welcome to comment on the PR#1414.

[2022-01-31 17:56] gnuoyd commented on #1413
Hi Orion,

I happen to have been looking at our floating-point type detection
over the last couple of weeks and wondering how/why/whether-or-not
it is effective at detecting IBM double-double format and IEEE
quadruple-precision ("binary128") format.

Can you send the generated file, `H5Tinit.c`, that is under `src/` in
your build directory?

Also, if it is not too much trouble, and the content is

[2022-01-31 18:02] jbigot commented on #1320
Did you make your test under Unix?

From what I understand from cmake doc:
* `HDF5_ROOT` adds an element to the "set of installation prefixes" (later `<prefix>`)
* on windows, the following path are searched for:
  1. `<prefix>/`
  2. `<prefix>/(cmake|CMake)/`
  3. `<prefix>/<name>*/`
  4. `<prefix>/<name>*/(cmake|CMake)/`
  5. `<prefix>/<name>*/(lib/<arch>|lib*|share)/cmake/<name>*/`
  6. `<prefi

[2022-01-31 18:29] byrnHDF commented on #1320
Yes linux, you set HDF5_ROOT to the install dir; as used in the previous reply that would be `<prefix>` .
Also, I used HDF5_DIR set to `<prefix>/share/cmake` but that only looks in that one folder.

I still think you are misinterpreting the `<name>*` as a folder, it is the files.
In addition, the docs state that all the default paths are searched; U and W on all platforms.

[2022-01-31 18:42] jbigot commented on #1320
I do indeed interpret this list as a list of directories. The list is introduced in the doc by:

Later:

And each entry is terminated by a slash.

In addition, before the documentation states:

[2022-01-31 19:58] byrnHDF commented on #1320
Looking at the CMake source and with my limited understanding, one of the searches in the code seems to be searching the cmake directory for files matching the project name. But I would prefer someone more experienced look at it.

In reference to the last statement about "without requiring use of additional options", that is what was failing for community members until we removed the "hdf5" direct

[2022-01-31 20:02] jbigot commented on #1320
This is strange according to the doc for unix and according to my experience. Isn't this an issue of system difference where the file should be installed to a different path depending on the system family?

[2022-02-01 16:34] byrnHDF commented on #1381
See PR #1415

[2022-02-01 18:04] colleeneb commented on #1381
Thanks a lot @brianwhitney59 and @byrnHDF !

[2022-02-03 06:34] wenjuno opened #1419 "H5Dchunk_iter offset is not scaled by chunk dimensions"
I'm not very sure if this is intentional but I find it inconsistent with `offset` in `H5Dget_chunk_info`.
I think the relevant code for `H5Dchunk_iter` is this:
https://github.com/HDFGroup/hdf5/blob/1d598182d6097052060f15a6b0d744c42a2fd80a/src/H5Dchunk.c#L7519-L7520
Comparing to how the `offset` in `H5Dget_chunk_info` is calculated below, there are missing multipliers of `dset->shared->layout.u.ch

[2022-02-03 21:28] ax3l commented on #1320
Hi y'all,

Let me clarify what that doc page means.
The only hint to find an installed package is the path to its **install prefix**. That's why that doc page shows a series of acceptable **internal** structures _inside_ that prefix, so that you can put your configs somewhere "deeper" in the tree, according to your needs.

The environment hints in modern CMake are either `<CaseSensitivePackageName

[2022-02-04 08:22] jbigot commented on #1320
Thank you for the clarification @ax3l . However in this case, the question was more regarding the second part of the path. Where should HDF5 install its files so that they can be found by setting the right prefix?

My understanding is that by installing to:
`${CMAKE_INSTALL_PREFIX}/share/cmake/hdf5-config.cmake`
no single prefix can be set to find this file under unix because the second part of th

[2022-02-04 09:53] mtasaka commented on #1413
I tried debugging this, and looks like
https://github.com/HDFGroup/hdf5/blob/820695a78e3a277daea1bdcbb8ad54b8ee6650a5/tools/lib/h5tools_str.c#L238
is returning wrong result when `fmt` is `"%Lg"`. For now I reported against gcc:

https://bugzilla.redhat.com/show_bug.cgi?id=2050569

[2022-02-04 11:38] mtasaka commented on #1413
More specially https://github.com/HDFGroup/hdf5/blob/820695a78e3a277daea1bdcbb8ad54b8ee6650a5/tools/lib/h5tools_str.c#L127

[2022-02-04 14:44] byrnHDF commented on #1320
I think that explanation would make a great FAQ on our site!

[2022-02-04 16:23] brtnfld opened #1422 "Add LGTM check for PRs"
Useful code review tool.

https://lgtm.com/help/lgtm/github-apps-integration

[2022-02-04 17:54] tuliom commented on #1413
@mtasaka Great findings!
I suspect the problem is in glibc instead.
Thank you!

[2022-02-04 17:56] opoplawski commented on #1413
@mtasaka Yes, thank you very much for looking into this.

[2022-02-05 23:42] mtasaka commented on #1413
OK, so with gcc-12.0.1-0.5.fc36.ppc64le on Fedora with https://gcc.gnu.org/git/?p=gcc.git;a=patch;h=8d6fffc4bcd4afa0beb0efad4f3b95394aa15618 applied, I've confirmed that this error no longer occurs.
gcc-12.0.1-0.6 on Fedora which contains the above fix is now building (but it will take more than one day until the build finishes)

So I think we can say this is fixed in gcc side: ref:
https://gcc.gn

[2022-02-07 02:41] ominusliticus opened #1425 "Ninja Error when building HDF5"
### My specs
- OS: Windows 11
- Using Visual Studio 2019
- Compiler: MSVC
- CMake version: 3.22

### Problem description
I include HDF5 as an external project in my own [project](https://github.com/ominusliticus/VizQGP).
The CMake code that implements this is
[code]
the error that ninja provides me is
[code]

I think I have been able to narrow down the source of this error to the following bit of

[2022-02-07 14:27] byrnHDF commented on #1425
We have recently revised that section of code that should fix it. Can you use the hdf5_1_12 branch. The master branch is only used for generating releases, the latest development code is in the develop, hdf5_1_12, hdf5_1_10 and hdf5 1_8 branches. You find the released versions in hdf5_1_12_1, hdf5_1_10_8 and hdf5_1_8_22.

[2022-02-07 14:37] mtasaka commented on #1379
@opoplawski 's above patch (i.e. https://github.com/opoplawski/hdf5/commit/62c9ee66ae28db3513ee2db52bd9b82a04bc60a6 ) is needed to make hdf5 compilation succeed (with Fedora's gcc-12.0.1-0.6.fc36)

[2022-02-07 16:36] #1413 closed, assigned to nobody

[2022-02-08 05:49] ominusliticus commented on #1425
Hi,
Thank you!
I had originally switched from develop branch to 1.12/master because its `src` folder was missing the file `H5Edefin.h`.
Switching to the hdf5_1_12 now gives the error that `H5Epubgen.h` cannot be found.

EDIT: It seems this is an auto-generated file. After playing around with my cmake files I finally got it to compile.
Is every file containing the work `pub` in it auto-generated?
N

[2022-02-08 13:32] byrnHDF commented on #1425
The development branches need to enable the generation of files that are done by the release process for the release branches.
The 1.12 release branches are hdf5_1_12_0, hdf5_1_12_1 and the next will be hdf5_1_12_2.
The 1.12 development branch is hdf5_1_12. In release_docs folder is the file INSTALL_CMake.txt. In that file you will find a number of notes on how to configure and build hdf5. Near th

[2022-02-08 13:35] byrnHDF commented on #1425
Having said that, it is curious that you are having problems because for the development branch (hdf5_1_12) the default is ON.

[2022-02-08 13:41] byrnHDF commented on #1425
One more thing, looking at src/CMakeLists.txt; there is one more requirement for generating the files - PERL.
the perl script files triggered by HDF5_GENERATE_HEADERS are H5err.txt, H5vers.txt and H5overflow.txt.
These files require PERL to generate the headers;
    H5Edefin.h
    H5Einit.h
    H5Epubgen.h
    H5Eterm.h
    H5version.h
    H5overflow.h

[2022-02-10 20:51] gheber opened #1431 "Provide more detailed information on failure to traverse an external link"
According to [this report](https://forum.hdfgroup.org/t/can-we-use-external-links-to-read-only-data-in-writable-files/9390/5) it appears that the library does not distinguish between failed external link traversal due to file access mode `EACCES (Permission denied)` or file existence `ENOENT (No such file or directory)`. The error message in both cases reads:
[code]
which, in this case, is ambiguo

[2022-02-11 08:05] blackPantherOS opened #1433 "Latest git version build error"
[code]

[code]
[code]

[code]

[2022-02-12 00:19] kmccarty-dgi opened #1436 "Problem with sense of release version check?"
Hi,

Recently HDF5 was updated to be more lenient about checking compatibility between the library version number, versus the version number that was used to compile an executable using the library.  (PR #812)

However, it seems to me that the test is going the wrong way?  As written, the code now has
[code]

Consider an executable that was built against a shared library HDF5 version 1.10.6 ... fo

[2022-02-14 15:55] byrnHDF commented on #1436
I have spent too much time explaining and contradicting myself on this question - only to come to the conclusion that something is wrong. I will need to go back and look at the history of this change to see why. I thought we removed the relnum check when added the second section to check for compatible releases.

[2022-02-17 15:46] byrnHDF opened #1443 "Tools and tools library broke compatibility in 1.10.8 - tools used a new library API."
The command line option function should not have been removed in the tools library.

[2022-02-18 02:23] simon-Leary42 opened #1447 "Do I need to use an mpi compiler wrapper for parallel IO support?"
Question is self explanatory.
I was wondering if -enable-parallel was enough, or if I have to set $CC to mpicc and such...

[2022-02-22 14:36] #1394 closed, assigned to byrnHDF

[2022-02-28 18:08] musm commented on #1203
any status or thoughts?

[2022-02-28 18:18] gnuoyd commented on #1203
On Mon, Feb 28, 2022 at 10:08:25AM -0800, Mustafa M wrote:

HDF5 is on the path to easier cross-compilation, but I cannot forecast
when the work will be completed.  I have a couple of outstanding PRs
that will help, [PR \#1400](https://github.com/HDFGroup/hdf5/pull/1400)
and [PR \#1426](https://github.com/HDFGroup/hdf5/pull/1426).

Dave

[2022-02-28 18:21] musm commented on #1203
Thanks for the update, looks quite promising and glad to see progress

[2022-03-09 04:43] ddddddzhang opened #1478 "Not enough memory to read data"
Hi hdfgroup,

I was reading more than 200 .h5 files in this code. But somehow the job stopped at the 36th .h5 file due to the following error:
![image](https://user-images.githubusercontent.com/64808601/157373086-b23657a3-27e5-44c2-8b6e-49aa8a9d0b06.png)

In the fun.R, I was just using h5read to read in different variables in my .h5 data.
I confirmed I have enough memory that can be used. But it s

[2022-03-09 04:44] ddddddzhang commented on #1478
[slurm-4340236_1_github.txt](https://github.com/HDFGroup/hdf5/files/8211733/slurm-4340236_1_github.txt)
Code I ran is here. Thanks.

[2022-03-11 14:56] ddddddzhang commented on #1478
Problem solved. The hdf file has no data in some groups.

[2022-03-13 19:26] kalvdans opened #1498 "Segmentation fault when opening unseekable file"
I tried to use `/dev/null` in a unit test (since I'm not interested in the result) but the library crashes hard. This is a minimal test case:
[code]
The output when running is:
[code]

I understand that hdf5 library wants to seek in the file, but it should fail gracefully. My version:
[code]

[2022-03-14 20:42] ominusliticus commented on #1425
Hi again, I had to take a break from working on my project.

The contents of my `cmake/config/cacheinit.cmake` file are (still on branch hdf5_1_12)

[code]
Here the three dots at the end indicate cmake for working with different file formats.
There is no line with `HDF_GENERATE_HEADERS`.

I cannot simply add the line as Visual Studio overwrites the file with those from GitHub every time it builds.

[2022-03-14 21:20] byrnHDF commented on #1425
Right, you do not change the source. Instead you provide a list of overrides to the source.
In the config/cmake/scripts directory are files you can copy to your project directory; where the source has been copied or downloaded to.
CTestScript.cmake needs no edits (there are some options that might be useful)
HDF5config.cmake needs no edits as this is the main driver and is the file executed by run

[2022-03-14 21:21] byrnHDF commented on #1425
See the release_docs/INSTALL_CMake.txt file -> II. Quick Step Building HDF5 Libraries with CMake Script Mode

[2022-03-14 21:30] #1443 closed, assigned to byrnHDF

[2022-03-14 21:36] byrnHDF commented on #1436
The check_version function was improperly half finished, likely a victim of a merge blitz. Anyway, the function should be absolute equal in major and minor. Except for develop all release version should be forward compatible as long as the API usage remains constant. Meaning the application does not use any new APIs introduced for advanced work. Should a release version be flawed (like 1.10) there

[2022-03-14 21:36] #1436 closed, assigned to byrnHDF

[2022-03-14 21:38] byrnHDF commented on #1381
fixed.

[2022-03-14 21:38] #1381 closed, assigned to byrnHDF

[2022-03-14 21:41] byrnHDF commented on #1320
I was wrong and the config files will now be in the cmake sub-folder - The previous HDF5_ROOT and CMAKE_PREFIX_PATH are still valid and has been tested to work.

[2022-03-14 21:41] #1320 closed, assigned to nobody

[2022-03-14 21:44] ominusliticus commented on #1425
Seems I should give that a closer read...

[2022-03-15 00:27] colleeneb commented on #1381
Thank you so much!

[2022-03-15 15:51] ominusliticus commented on #1425
Thank you for your help!
I was able to get the example [here](https://github.com/bast/hdf5-cmake-example/blob/master/src/writedata.cpp) to work for me (albeit, it uses some deprecated functions which I had to update).

I think the problem ended up being on my end: the file where I told CMake to look for targets was not the same as where I was telling CMake to build the targets.

[2022-03-15 21:08] jahidhasanlinix opened #1501 "./configure issue for HDF5"
I tried with both using  ./configure --prefix=$H5_DIR/install --enable-parallel --enable-threadsafe --enable-unsupported #(tried both with CFLAGS="03" CC=cc or CC=mpicc and --with-zlib) and each time I am having issues to make it run and it give some weird error which already installed in my ubuntu.
`> sudo ./configure --prefix=$H5_DIR/install --enable-parallel --enable-threadsafe --enable-unsuppo

[2022-03-18 05:29] matham commented on #566
I have been trying to make arm64 wheels for pytables/h5py. To do that I initially made fat wheels by compiling hdf5 fat binaries but ran into issues.

Instead I focused on cross-compiling just for arm64. I was unable to do that neither with camke or configure and neither for 1.12.1 or 1.13.1. I got various errors, but basically it came down to something like in this issue where it was trying to ru

[2022-03-18 13:19] byrnHDF commented on #566
So at least for CMake, those patches just codify the process for cross-compiling. I will create a doc based on the small section VI in the release_docs/README_HPC file.
`1.  HDF5_USE_PREGEN.  This option, along with the HDF5_USE_PREGEN_DIR CMake
    variable would allow the use of an appropriate H5Tinit.c file with type
    information generated on a compute node to be used when cross compiling

[2022-03-18 14:57] seanm commented on #566
There are a few PRs coming that should help with cross-compiling:

https://github.com/HDFGroup/hdf5/pull/1400

https://github.com/HDFGroup/hdf5/pull/1426

[2022-03-18 16:09] #1379 closed, assigned to nobody

[2022-03-18 16:13] matham commented on #566
Thanks these are great to hear!

Would it make sense to add macos arm64 cross-compiling testing to the github actions? Preferably just arm64 and not just fat binaries because I was able to compile the fat binaries even though the arm64 side was not functional I think!? You wouldn't be able to test the actual binary, but at least the compilation would be tested.

[2022-03-18 16:29] seanm commented on #566
Another interesting case is to build as x86_64-only *on* an arm64 Mac. That *can* be run at runtime because of [Rosetta](https://en.wikipedia.org/wiki/Rosetta_(software)).

[2022-03-18 18:02] byrnHDF commented on #566
There are two processes during HDF5 config/build needing an alternative; the second is the pregeneration of H5Tinit.c so that h5detect doesn't execute and the first is the sequence of config checks, some of which need to be preset so that config skips the checks. Is there a list of which checks should be overridden?

[2022-03-21 14:22] gheber opened #1513 "Doxygen documentation updates for HDF5 1.12.2, 1.10.x, and 1.8.x"
Review changes from PRs #1442, #1321, #1260, #1223, #1180, #553, #330.

[2022-03-21 16:48] ax3l commented on #1320
Hi @jbigot, thanks for the kind words:

The easiest place are the ones [you listed above](https://github.com/HDFGroup/hdf5/issues/1320#issuecomment-1026056375) (and [here](https://github.com/HDFGroup/hdf5/issues/1320#issuecomment-1007355837)).

Yep, that one is only for unix: `<prefix>/share/cmake/`

Instead use one of the ones [you listed above](https://cmake.org/cmake/help/latest/command/find_pa

[2022-03-21 16:50] ax3l commented on #1320
@byrnHDF thanks for the feedback! Is there a new related PR that fixes this in `develop`? (Releases 1.10.8/1.13.0 were broken.)

The previous ones should work for Unix but not yet for Windows. As in the previous message: let's use an `(W/U)` path in the install tree we create?

Along these lines: `HDF5_INSTALL_CMAKE_DIR=hdf5/share/cmake/hdf5` instead of the Unix-only `share/cmake/hdf5`

[2022-03-21 17:07] byrnHDF commented on #1320
I have merged and tested (multiple ways) the current code in the development branches.
The W/U paths all will be searched, just that they are all dirs (the * meaning is on the dir and not files as I thought)
the simple path <prefix>/cmake will work.

[2022-03-22 20:45] ax3l opened #1516 "CMake: Support Cross-Compile"
The CMake install logic would be splendid if it supported also cross-compilation.

Currently, the build logic in it tries to run files such as `H5make_libsettings` and `H5detect`, which cannot work in cross-compile unless one has an emulator of the target architecture installed and configured, which is not always possible.

Can this be improved, e.g., by avoiding to run these files, search in file

[2022-03-22 20:53] ax3l commented on #1516
Hm, I think that's essentially a duplicate of #1203

[2022-03-22 20:53] #1516 closed, assigned to nobody

[2022-03-28 19:20] gcaria opened #1540 "`h5diff` with files on AWS S3"
As far as I can tell `h5diff` does not work with files on AWS S3 bucket, so I would like to ask whether support for S3 can be added.

[2022-03-29 20:22] soumagne opened #1546 "hdf5.pc is incorrect for debug builds"
Initially reported by @chuckcranor the hdf5.pc file that gets generated by CMake debug builds does not contain the `_debug` suffix that gets added to the library name. HDFMacros.cmake must first be fixed to include `OUTPUT_NAME_DEBUG` in the target name.

[code]
even though:
[code]

[2022-03-30 12:42] gheber commented on #1513
Review the rendered documentation and upload to S3.

[2022-03-31 00:00] ajelenak commented on #1478
Closing since the issue seems resolved with no follow-on discussion.

[2022-03-31 00:00] #1478 closed, assigned to nobody

[2022-03-31 00:09] ax3l opened #1558 "CMake: HDF5 1.12.1 Does Error in ConfigureChecks"
On Ubuntu 20.04 (x86_64):

[code]
<details>
$ cmake -S src/hdf5 -B src/hdf5-build
-- The C compiler identification is GNU 9.4.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- Looking for include file sys/file.h
-- Looking for include file sys/fi

[2022-03-31 13:02] byrnHDF commented on #1558
Yes that was fixed in development code and will be in the next 1.12.2 release next month.

[2022-03-31 15:33] byrnHDF commented on #1425
I believe this is resolved.

[2022-03-31 15:33] #1425 closed, assigned to byrnHDF

[2022-04-05 12:40] gheber opened #1581 "Fix these Doxygen warnings"
[code]

[2022-04-05 12:41] gheber commented on #1581
Delete the fake example reference to get rid of the fourth warning!

[2022-04-05 12:50] gheber commented on #1581
`H5Tget_nmembers`, `H5Tget_member_name`, and `H5Tget_member_index` apply to both compounds and enumeration. Doxygen doesn't like multiple group inclusion for functions, e.g., see [this article](https://stackoverflow.com/questions/16817596/doxygen-how-to-include-an-element-in-multiple-groups). Not sure how to resolve this elegantly.

[2022-04-05 14:31] gheber commented on #1581
A path forward:

1. In `H5Tmodule.h`, define a new group
[code]
2. Modify the `COMPOUND` and `ENUM` groups
[code]
3. Add `H5Tget_nmembers`, `H5Tget_member_name`, and `H5Tget_member_index` to `COMPENUM`

[2022-04-06 15:26] Enea2301 opened #1588 "Error while compiling HDF5 using AOCC compilers (error while loading shared libraries: libomp.so)"
Good evening. I'm trying to compile HDF5 using latest AMD AOCC compilers (3.2), but a problem arises constantly while executing the "make" command

**./H5_buildiface: error while loading shared libraries: libomp.so: cannot open shared object file: No such file or directory
make[3]: *** [Makefile:1513: H5_gen.F90] Error 127
**

The runtime command for configure is as continues: CC="$CC" CXX="$CXX"

[2022-04-08 00:10] #1581 closed, assigned to gheber

[2022-04-08 00:10] gheber commented on #1581
Thanks Allen!

[2022-04-12 20:18] derobins opened #1632 "Assertion with certain H5Pset_est_link_info() parameters on group flush / close"
Certain combinations of the est_num_entries and est_name_len parameter values can cause an assertion to be raised in debug builds of the HDF5 library when the group creation property list is used to create groups. The assertion arises when the group's object header is flushed to the disk. We are still characterizing this bug and determining its origin and effects in release builds.

This bug is pr

[2022-04-15 20:06] hyoklee opened #1647 "Linux autotools build fails with --enable-parallel --enable-direct-vfd --enable-mirror-vfd --enable-ros3-vfd CC=mpicc configuration options."
Linux autotools build fails: https://github.com/hyoklee/hdf5/blob/ef3360609d24b00ff369dd603579249b2cd03a10/.github/workflows/linux-auto.yml

[code]

[2022-04-15 20:12] hyoklee commented on #1647
My mistake.

[2022-04-15 21:10] qkoziol commented on #1647
I'm pretty far along fixing this, over the past week:  https://github.com/HDFGroup/hdf5/pull/1629

[2022-04-15 21:19] hyoklee opened #1648 "Remove Perl dependency."
Spack installation of Perl on Mac is problematic:

https://github.com/hyoklee/hdf5/runs/6042719583?check_suite_focus=true

less dependency = more portability

[2022-04-15 21:22] hyoklee opened #1649 "Update release schedule graph."
2021 is irrelavant as of 4/15/2022.

[2022-04-20 16:46] brtnfld opened #1664 "update h5* compiler wrappers "help" message to use --help"
For the h5(cc/fc) wrappers, one has to use no arguments or "-help" to get the help message for the wrapper. But using --help (double dash is a common use for long-form options) does not produce a help message for the wrapper. Also -h does not produce a help message for the wrapper.

[2022-04-21 00:09] vchoi-hdfgroup opened #1667 "test/cross_read.c didn't catch the errors for split, multi, family, splitter drivers and indicates test passed"
Testing: cross_read
============================
Test log for cross_read
Virtual file driver (VFD): split
============================

Testing reading data created on Linux
*FAILED*
HDF5-DIAG: Error detected in HDF5 (1.13.2-1) thread 0:
  #000: ../../hdf5/src/H5F.c line 837 in H5Fopen(): unable to synchronously open file
    major: File accessibility
    minor: Unable to open file
  #001: ../../h

[2022-04-21 00:18] vchoi-hdfgroup opened #1668 "test/enc_dec_plist.c got errors but didn't get caught"
Test log for enc_dec_plist
Virtual file driver (VFD): sec2
============================
Testing ENCODE/DECODE with file version bounds: (earliest, v18):
Testing Default DCPL Encoding/Decoding                                 PASSED
Testing DCPL Encoding/Decoding                                         PASSED
Testing DCPL Encoding/Decoding for virtual layout                     *** UNEXPECTED VALUE

[2022-04-21 14:38] qkoziol commented on #1667
I believe that my recent merge addressed this

[2022-04-24 12:13] gringer opened #1682 "Documentation - variable-length datatype description seems incomplete (doesn't mention global heap)"
I'm working on trying to decode an HDF5 file (attached) manually using [the specification](https://docs.hdfgroup.org/hdf5/develop/_f_m_t3.html#DataObject) (for the purpose of writing rust code for a decoder that quickly extracts raw signal data from nanopore FAST5 files), and am getting tripped up by the definition of variable-length data. I'm currently looking at the attribute message starting at

[2022-04-24 23:18] seanm commented on #566
So with #1400 and #1426 merged, it looks like `H5Tinit.c` is down to just one function: `H5T__init_native`, nice!

That function looks like it's related to checking the size of floats, meaning this ticket is not fixed, if I understand right...

[2022-04-25 17:35] scivision commented on #1558
great, this or similar "pac*.out" error has been a long-standing problem on several platforms and compilers

[2022-04-27 20:03] gnuoyd commented on #566
On Sun, Apr 24, 2022 at 04:18:36PM -0700, Sean McBride wrote:

That's right, we still need to measure floats.

The other day I dashed off some code that uses C99 features both to
locate the sign, mantissa, and exponent bits and to find out the
exponent bias of a `float` without knowingly invoking undefined
behavior.

To identify padding bits without invoking undefined behavior looks
tricky, but I

[2022-04-29 14:22] andygotz commented on #1682
@gringer you might be interested in the Rust binding for HDF5 in case you are not aware of it : https://github.com/aldanor/hdf5-rust

[2022-04-30 07:43] sergey-komissarov opened #1707 "Reading corrupted HDF5 file hangs with 100% cpu load."
Hello,

I'm trying to read attached HDF file and see that python hangs forever. I tried with h5dump and it also hangs with 100% cpu load.
Is it possible to check such files before opening or raise an exception instead of inifinite loop? I know that corrupted files are hard to deal with but hanging application is also pretty bad from the user view.

File causing the problem: [r.zip](https://github.

[2022-05-03 00:01] gringer commented on #1682
I did have a look at this; the readme suggests that hdf5-rust is a wrapper around the existing C library. I'm interested in pulling a specific dataset out of a specific hdf5 implementation, and want a more lean read-only approach.

Regardless of whether or not a wrapper would be suitable, the documentation still seems incomplete.

[2022-05-04 15:42] gheber opened #1723 "The H5Rget_obj_type macro renders incorrectly in the reference manual"
See the unlinked `H5R_get_obj_type3().` in [`H5Rget_obj_type`](https://docs.hdfgroup.org/hdf5/develop/group___h5_r.html#title5)

[2022-05-05 13:57] byrnHDF opened #1729 "Add autotools configure option for TestExpress"
Autotools we should add a configure option instead of changing the default in testframe. The github actions could use that and the default could still be 3, but it would probably be more visible to users at build time rather than needing an environment variable to run all the tests.

In addition, what should CMake do if the ENV VAR is already set? Probably should check for it before forcing a diff

[2022-05-05 14:15] jacobfilik opened #1730 "H5Fstart_swmr_write resets chunk cache settings for open datasets"
Switching a file to swmr mode when there are open datasets seems to reset the chunk cache setting to the defaults, which can lead to very poor performance when writing data in compressed chunks.

The c code below (sorry not a c programmer, but wanted to confirm at as low level as possible), shows the chunk cache property being reset.

This can be worked around by closing the dataset before setting

[2022-05-10 12:52] gheber opened #1759 "H5Pset_efile_prefix documentation error"
[External datasets relative to current directory or HDF5 file as documented?](https://forum.hdfgroup.org/t/external-datasets-relative-to-current-directory-or-hdf5-file-as-documented/9742)

[2022-05-11 13:19] mkitti commented on #1759
Thanks, Gerd. To clarify the situation, the existing and intended behavior is that the default external dataset prefix is the current working directory of the calling program's current process. This is the case when the prefix is not set, set to an empty string, or set to `"."` via [`H5Pset_efile_prefix`](https://docs.hdfgroup.org/hdf5/v1_8/group___d_a_p_l.html#ga442647d48171db920c71a7baf6fdeee6).

[2022-05-11 21:25] mkitti opened #1761 "H5TOOLS_BUFSIZE documentation error"
The documentation for [h5repack](https://portal.hdfgroup.org/display/HDF5/h5repack) states:

Furthermore, on a page about environmental variables it states:

https://portal.hdfgroup.org/display/HDF5/Environment+Variables+Used+by+HDF5

Both statements strong imply that `H5TOOLS_BUFSIZE` is the number of _bytes_ of the buffer.

Looking at the source code, the function `h5tools_getenv_update_hypersla

[2022-05-12 13:01] byrnHDF opened #1766 "Convert Examples included in binary to latest single source"
Examples project had different dirs for each branch and the binaries would include just the examples folder that matched the branch.
The new structure of the examples has just a single source for all branches and relies on configure to build the correct examples.
Therefore, this new structure needs to be tested.

[2022-05-17 16:54] #1729 closed, assigned to byrnHDF

[2022-05-20 22:40] alkino commented on #1632
Hello, is there something new on that?
Regards

[2022-05-21 11:02] bartoszek opened #1787 "h5perf conflicts with gnu/perf tool"
`perf` is a quite unlucky choice of name for this small tool, especially on Unix target: as the common profiling tool `gnu/perf` conflict with `hdf5` package when built with `openmpi` support enabled.
https://github.com/HDFGroup/hdf5/blob/a124f02f2c94476f58e4bca047e7786a3231cf0c/tools/src/h5perf/CMakeLists.txt#L33-L39
https://github.com/HDFGroup/hdf5/blob/a124f02f2c94476f58e4bca047e7786a3231cf0c/t

[2022-05-26 01:34] derobins commented on #1498
For something that looks like a simple fix, addressing this is probably going to involve tidying a rat's nest of file cleanup code.

For the record, the "/dev/nul" equivalent on Windows is "NUL"

[2022-05-26 12:13] derobins commented on #343
Fixed in #361

[2022-05-26 12:13] #343 closed, assigned to nobody

[2022-05-26 12:16] derobins commented on #937
Fixed in #1359

[2022-05-26 12:16] #937 closed, assigned to nobody

[2022-05-26 13:41] GurSergey opened #1792 "Reading subset from S3 compatible storage Minio cluster, very low speed"
Hi! i am trying to read subset from Minio single instance and from cluster using following command:
h5dump --filedriver=ros3 -d "statistics" --start="0,0,0" --count="960,2000,1" --output=test.txt http://localhost:9000/raw/test.hdf5
Test file contains 700 MB data. The requested subset contains about 7 MB of data
Result:
1. Reading time from Minio single instance ≈11 seconds
2. Reading time from Min

[2022-05-27 20:33] derobins commented on #71
This may be due to a collective metadata issue that has already been fixed, possibly in 1.10.6.

[2022-05-27 20:42] brtnfld commented on #46
Is this still an issue, or can it be closed?

[2022-05-27 20:46] derobins commented on #280
AOCC works with develop, @lrknox will check to make sure this is true for all maintenance branches

[2022-05-27 20:51] #329 closed, assigned to nobody

[2022-05-27 20:52] derobins commented on #334
This has been done in develop and has a hack in other branches.

[2022-05-27 20:52] #334 closed, assigned to nobody

[2022-05-27 21:12] danielsue commented on #46
Hi Brtnfld,

The problem has been solved. Sorry I forgot to reply for your previous reply.
Thanks,

Daniel

[2022-05-27 21:12] #46 closed, assigned to brtnfld

[2022-05-30 19:01] mkitti commented on #1759
I believe this is the text that needs to be edited.

https://github.com/HDFGroup/hdf5/blob/a124f02f2c94476f58e4bca047e7786a3231cf0c/src/H5Ppublic.h#L7351-L7353

[2022-06-01 02:04] opoplawski commented on #71
Currently with hdf5 1.12.2 on Fedora Rawhide I'm seeing this hang only on s390x with mpich 4.0.2.  This also seems to be new with the change from 1.12.1 -> 1.12.2, but possibly due to a mpich update.

[2022-06-01 03:57] hyoklee commented on #92
https://docs.hdfgroup.org/hdf5/develop/group___h5_i_u_d.html#ga3bc2a11a594bf484cc5dc69ac987d0f4

[2022-06-01 04:03] hyoklee commented on #92
Update H5Ipublic.h

[2022-06-01 04:15] hyoklee commented on #92
@gheber , what do you mean by "collections" in this issue?

[2022-06-03 13:40] sdebionne commented on #1558
On `origin/1.12/master`

[code]

works for me (IBM Power9)

[2022-06-03 22:03] seanm commented on #343
Please reopen.

I just tried building from `develop` and there are still `-Wreserved-id-macro` warnings from include guards, for example:

[code]

I'll make a patch.  But this will keep happening unless you add `-Wreserved-id-macro` to one of your buildbots... can you do that?

[2022-06-13 15:11] mkitti opened #1809 "Initialization of file drivers , H5FD_core_init, H5FDperform_init"
In HDF5.jl, we have a [report from a user](https://github.com/JuliaIO/HDF5.jl/issues/960) that calling `H5FD_core_init` directly in HDF5 1.13 is causing a stack overflow.

Looking into the issue, I realize that `H5FD_core_init` is not necessarily public API. In HDF5 1.12, the core driver was initialized via macro via `H5FD_CORE` directly:
https://github.com/HDFGroup/hdf5/blob/820695a78e3a277daea1b

[2022-06-13 15:59] gnuoyd commented on #1809
On Mon, Jun 13, 2022 at 08:11:58AM -0700, Mark Kittisopikul wrote:

You are correct, `H5FD_core_init` is not a public API.  Evaluate the API
symbol H5FD_CORE to initialize the core driver.

`H5FD_CORE` is a part of the public API.  Evaluating `H5FD_CORE` has the
side-effect of initializing the driver if it is not already initialized.
This behavior of the `H5FD_` symbols (`H5FD_SEC2`, `H5FD_CORE`,

[2022-06-13 16:02] mkitti commented on #1809
How do we "Evaluate the API symbol H5FD_CORE to initialize the core driver" if we are dynamically loading the shared library from a language that is not C or C++?

[2022-06-13 17:17] gnuoyd commented on #1809
On Mon, Jun 13, 2022 at 09:02:54AM -0700, Mark Kittisopikul wrote:

Ah, I see.  Do you intend to load the shared object and access it
using a foreign-function interface (FFI), exclusively using the
general-purpose facilities that Julia provides?  In other words, Julia
does not use a custom C-language shim to assist with the library
initialization?

Here's a thought: does a Julia program refer to t

[2022-06-13 18:14] gheber commented on #92
Mostly groups (= collections of links), attribute collections of objects, etc. I.e., don't change a group that you are iterating. OK?

[2022-06-13 19:30] mkitti commented on #1809
Yes. This is how HDF5.jl currently operates.

Correct.

No, we are using a datatype, a struct.
https://github.com/JuliaIO/HDF5.jl/blob/f68365ca4ba22f074ce33ec1966a66f3489cdb0f/src/drivers/drivers.jl#L34-L39

Essentially are mainly using `H5FD*_init` to obtain the `hid_t` for each driver so that can interpret the return value of `H5Pget_driver`.

One path forward is just to continue emulating the m

[2022-06-13 20:29] gnuoyd commented on #1809
On Mon, Jun 13, 2022 at 12:30:29PM -0700, Mark Kittisopikul wrote:

You certainly can do that, but it still entails the use of
undocumented/unsupported functions.

Maybe there is a way to use documented/supported APIs?  For example,
what if you create a file-access property list (FAPL), set the "core"
driver on the FAPL using `H5Pset_fapl_core`, and then ask for the
driver's `hid_t` using `H5Pget_

[2022-06-14 09:34] pab42 opened #1810 "hdf5 1.8.22 parallel Fortran interface is broken with CMake"
Related to https://github.com/spack/spack/issues/31085 : the parallel Fortran interface in hdf 1.8.22 is broken for compilation:
[code]
I attached all log files from spack but the error also appears without spack only using plain CMake with the same arguments. I also checked with Intel MPI/Compilers, no difference. Is there any chance this still will be fixed? We have quite a few users who still r

[2022-06-14 18:42] seanm commented on #334
Additional fixes here: https://github.com/HDFGroup/hdf5/pull/1812

[2022-06-14 18:42] seanm commented on #343
Additional fixes here: https://github.com/HDFGroup/hdf5/pull/1812

[2022-06-16 10:01] prokher commented on #1707
Colleagues, does HDF5 library guarantee robustness to corrupted files? I would be surprised if it is not. And if it is not, then we will have to drop HDF5 support, cause the only workaround I see is to offload work with HDF5 files to a separate process. This workaround is too expensive, I would switch to using a separate database server if so.

[2022-06-18 04:55] simonbyrne commented on #1203
Any updates on this? @gnuoyd I noticed both PRs have now been merged: what other pieces need to get done?

[2022-06-21 18:43] BtbN opened #1814 "h5cc is severely lacking when building hdf5 with cmake, breaking downstream users"
When building hdf5 with autotools, the following file is used to produce h5cc and friends:
https://github.com/HDFGroup/hdf5/blob/develop/bin/h5cc.in

However, when building with cmake, the following file is used for it:
https://github.com/HDFGroup/hdf5/blob/develop/config/cmake/libh5cc.in

It is massively less complex, but also lacking a bunch of stuff.
So far, I have noticed the following two maj

[2022-06-22 16:26] byrnHDF commented on #1814
CMake hdf5 uses pkgconfig as requested. (h5cc uses that also) see https://people.freedesktop.org/~dbn/pkg-config-guide.html

[2022-06-22 23:53] BtbN commented on #1814
Yes, if a downstream would use pkg-config, it'd still work.
However, at least one of them (and probably more) doesn't, and relies on calling "h5cc -show".
The behaviour of h5cc changing dramatically based on the build system hdf5 was built with is very unexpected.

As of right now, slurm cannot be built against a cmake built hdf5, but works just fine with the same version built via autotools.

[2022-06-23 17:19] seanm opened #1824 "Replace all sprintf with safer snprintf"
Even after https://github.com/HDFGroup/hdf5/pull/1815 there are 16 remaining uses of HDsprintf() left. They were a bit too tricky for me to confidently change as I don't know the codebase well.

[2022-06-23 17:20] seanm commented on #1824
@jhendersonHDF

[2022-06-29 03:47] #910 closed, assigned to nobody

[2022-06-30 11:35] derobins opened #1836 "Update obsolete Autotools macros"
The Autotools defaults in Ubuntu 22.04 LTS complain about obsolete macros:

[code]

[2022-07-01 15:43] iamthad opened #1844 "Inconsistency between code and comment/error message"
https://github.com/HDFGroup/hdf5/blob/3ed53d17fb018c0415be2d668c6765217deff16f/src/H5Fint.c#L2710-L2713

Both the comment and the error message printed on failure talk about setting the character encoding, but it appears that the actual operation is to set the internal `want_posix_fd` flag so that file descriptor can be retrieved below.

[2022-07-01 19:19] jhendersonHDF commented on #1844
Thanks for reporting! Created a quick PR to fix the comment.

[2022-07-01 22:49] #1844 closed, assigned to jhendersonHDF

[2022-07-04 08:47] derobins commented on #296
Fixed in develop, 1.12, and 1.10

[2022-07-04 08:47] #296 closed, assigned to derobins

[2022-07-04 08:51] derobins commented on #349
The reworked VFD initialization routines do not have this problem. These are in develop (1.13.x, eventually 1.14.0). They will probably not be merged down to 1.12 and earlier.

[2022-07-04 08:51] #349 closed, assigned to jhendersonHDF

[2022-07-04 08:52] derobins commented on #1836
AC_HAVE_LIBRARY has been updated. AC_CHECK_CLASS remains.

[2022-07-06 13:51] gheber opened #1848 "`H5Tdevelop.h` is missing from `FILE_PATTERNS` in `Doxyfile.in`"
Trivial fix.

[2022-07-06 23:43] derobins commented on #1836
AC_CHECK_CLASS has no obvious upgrade mechanism (Java support in the Autotools is sketchy) so I've suppressed the warning for now.

[2022-07-06 23:43] #1836 closed, assigned to derobins

[2022-07-06 23:49] derobins commented on #1848
Fixed in #1849

[2022-07-06 23:49] #1848 closed, assigned to nobody

[2022-07-07 23:03] derobins commented on #1649
I purposely kept that in so people could see when previous releases came out.

[2022-07-07 23:03] #1649 closed, assigned to nobody

[2022-07-07 23:27] derobins commented on #1501
The place to ask questions like this is the HDF Group forums:

https://forum.hdfgroup.org/

The output of config.log will be helpful (at least the parts where mpicc checks go awry).

[2022-07-07 23:27] #1501 closed, assigned to nobody

[2022-07-07 23:30] derobins commented on #1348
Semantic versioning will start with HDF5 2.0.0, which will be the next release line after 1.14.0 and should come out sometime in 2023.